/* Modified version of the responsive hero section Foundation Building Block
   Original source: https://get.foundation/building-blocks/blocks/responsive-hero-section.html
*/

.hero-section {
  background-position-y: top;
  display: flex;
  align-items: center;
  justify-content: center;
}

.clinic.hero-section {
  background: url("../img/dog-in-clinic-lg.jpg") no-repeat;
  background-size: cover;
}

.shops.hero-section {
  background: url("../img/burleigh-can-you-volunteer.png") no-repeat;
  height: 45vh;
}

.rehoming.hero-section {
  background: url("../img/tabbykittens.jpg") no-repeat;
  height: 45vh;
}

.hero-section-text {
  color: var(--color-dark);
  background-color: var(--color-light);
  padding: 1em;
  border-radius: 5px;
}

.clinic.hero-section .hero-section-text {
  border-left: 1rem solid var(--color-rspca-blue);
}

.hero-section-text .h1 {
  font-weight: bold;
}

.hero-section-text .button {
  margin: 0;
}

/* Large screens */
@media screen and (min-width: 64em) {
  .clinic.hero-section .hero-section-text {
    width: 50%;
    margin-right: 1.5rem;
    margin-left: auto;
  }
}
