/*
Colors:
Dark primary - RSPCA blue: #003473
Accent - Aqua: #189ca1
*/

:root {
  --font-plain: "arial", sans-serif;
  --color-rspca-blue: #003473;
  --color-accent: #189ca1;
  --color-accent-orange: #e65100;
  --color-dark: #050505;
  --color-darkish: #404040;
  --color-lightish: #f1f1f1;
  --color-light: #fafafa;
  --color-mid: grey;
  --ratio: 1.4;
  --measure: 80ch;
  --line-height: var(--ratio);
  --line-height-small: calc(0.8 * var(--ratio));

  line-height: var(--ratio);
  font-family: var(--font-plain);
  background-color: var(--color-light);
  color: var(--color-dark);
}

body {
  background-color: var(--color-light);
}

a,
.breadcrumbs a {
  color: var(--color-accent);
  font-weight: 500;
  text-decoration: none;
}

a:focus,
a:hover {
  color: var(--color-accent);
  text-decoration: underline;
}

p,
span,
li,
section .flex-video,
section .callout,
table,
.content-container .card,
.responsive-embed {
  max-width: var(--measure);
}

td[headers="weekday"],
td[headers="pet"],
td[headers="vaccination-pet"] {
  font-weight: 500;
}

footer p {
  max-width: unset;
}

h1,
h2,
h3,
h4 {
  font-weight: 500;
  hyphens: auto;
}

main > * + * {
  margin-top: 1rem;
}

figcaption {
  font-size: 0.75rem;
  text-align: right;
  color: var(--color-mid);
}

.full-screen-height {
  min-height: calc(100vh - 374px);
}

.content-nav {
  margin-bottom: 1rem;
  color: var(--color-light);
  background-color: var(--color-accent);
  border: 1px solid var(--color-accent);
}

.content-nav-header {
  text-decoration: none;
  display: block;
  padding: 0.7rem 1rem;
  font-weight: 700;
  border: 0.08rem solid var(--color-accent);
  border-bottom: none;
}

.content-nav .is-accordion-submenu-parent:not(.has-submenu-toggle) > a::after {
  border-color: var(--color-light) transparent transparent;
}

.social-icon-link,
.social-icon-link:hover,
.social-icon-link:focus {
  text-decoration: none;
}

.social-icon-link span img {
  display: inline-block;
  stroke: currentColor;
  fill: var(--color-lightish);
  stroke-width: 0;
}

address + p {
  margin-top: 1rem;
}

address {
  font-style: inherit;
}

.nav-links a,
.content-nav a {
  background-color: var(--color-accent);
  color: var(--color-light);
  font-weight: bold;
  width: 100%;
}

.footer a {
  color: var(--color-lightish);
  font-weight: normal;
}

.head .message a {
  color: var(--color-light);
  text-decoration: underline;
}

.nav-links a:hover,
.nav-links a:focus {
  background-color: var(--color-light);
  color: var(--color-dark);
  text-decoration: none;
}

.menu .is-active,
.menu .is-active > a {
  background-color: var(--color-light);
  color: var(--color-dark);
}

.footer .vertical.menu a {
  padding: 0.7rem 1rem 0.7rem 0;
}

.head .message a:hover,
.head .message a:active {
  color: var(--color-light);
  text-decoration: none;
}

.embed-container {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
}

.embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.head {
  background-color: var(--color-rspca-blue);
}

.head .branch-name {
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
}

.head .logo {
  width: 104px;
  height: 55px;
}

.head .button {
  background-color: var(--color-accent-orange);
  color: var(--color-light);
  border-radius: 5px;
  font-weight: bold;
  margin: 0;
}

.head .message {
  background-color: var(--color-accent-orange);
  font-weight: bold;
  color: var(--color-light);
  margin: 0;
  max-width: none;
}

.warning-text {
  text-transform: uppercase;
  font-weight: bold;
}

.footer {
  background-color: var(--color-rspca-blue);
  color: var(--color-lightish);
}

.footer hr {
  height: 1px;
}

.footer-bottom {
  color: var(--color-lightish);
  font-size: 0.9em;
}

a[href^="tel:"] {
  color: inherit;
  text-decoration: none;
}

/* Telephone symbol */
a[href^="tel:"]::before {
  content: "";
  display: inline-block;
  height: 1rem;
  width: 1.5rem;
  background-size: 1.5rem 1.2rem;
  background-image: url("../icons/phone-dark.svg");
  background-repeat: no-repeat;
}

/* Email symbol */
a[href^="mailto:"]::before {
  content: "";
  display: inline-block;
  height: 1rem;
  width: 1.5rem;
  background-size: 1.5rem 1.2rem;
  background-image: url("../icons/email-dark.svg");
  background-repeat: no-repeat;
}

/* Telephone symbol on a dark background */
.footer a[href^="tel:"]::before,
.message a[href^="tel:"]::before,
.header a[href^="tel:"]::before {
  content: "";
  display: inline-block;
  height: 1rem;
  width: 1.5rem;
  background-size: 1.5rem 1.2rem;
  background-image: url("../icons/phone-white.svg");
  background-repeat: no-repeat;
}

/* Email symbol on a dark background */
.footer a[href^="mailto:"]::before,
.message a[href^="mailto:"]::before,
.header a[href^="mailto:"]::before {
  content: "";
  display: inline-block;
  height: 1rem;
  width: 1.5rem;
  background-size: 1.5rem 1.2rem;
  background-image: url("../icons/email-white.svg");
  background-repeat: no-repeat;
}

/* PDF symbol */
a[href$=".pdf" i]::before {
  content: "";
  display: inline-block;
  height: 1rem;
  width: 1.5rem;
  background-size: 1.5rem 1rem;
  background-image: url("../icons/pdf.svg");
  background-repeat: no-repeat;
}

.full-nav,
.full-nav .menu,
.small-nav {
  background-color: var(--color-accent);
}

.full-nav {
  padding: 0;
}

.nowrap {
  white-space: nowrap;
}

@media screen and (max-width: 39.9375em) {
  .content-nav-container {
    order: 1;
  }

  .sticky-container {
    margin-top: 1em;
  }

  .content-container {
    order: 2;
  }
}

.panel {
  color: white;

  /* margin: 0.5em; */
  margin-top: 0.5em;
  padding: 0.5em;
}

.spaced {
  margin-left: 2em;
  margin-right: 2em;
}

/* To reduce the margin-bottom to 0 as the default for p is 1 */
div.panel p {
  margin-bottom: 0;
}

.newsbox {
  border: 4px solid #fefefe;
  box-shadow: 0 0 0 1px rgba(10, 10, 10, 0.2);
  padding-top: 1em;
  padding-left: 1em;
  padding-right: 1em;
}
