/*
Colors:
Dark primary - RSPCA blue: #003473
Accent - Aqua: #189ca1
*/

:root {
  --font-plain: "arial", sans-serif;
  --color-rspca-blue: #003473;
  --color-accent: #189ca1;
  --color-accent-orange: #e65100;
  --color-dark: #050505;
  --color-darkish: #404040;
  --color-lightish: #f1f1f1;
  --color-light: #fafafa;
  --color-mid: grey;
  --ratio: 1.4;
  --measure: 80ch;
  --line-height: var(--ratio);
  --line-height-small: calc(0.8 * var(--ratio));

  line-height: var(--ratio);
  font-family: var(--font-plain);
  background-color: var(--color-light);
  color: var(--color-dark);
}

body {
  background-color: var(--color-light);
}

a,
.breadcrumbs a {
  color: var(--color-accent);
  font-weight: bold;
  text-decoration: none;
}

a:focus,
a:hover {
  color: var(--color-accent);
  text-decoration: underline;
}

p,
span,
li,
section .flex-video,
section .callout,
.content-container .card {
  max-width: var(--measure);
}

footer p {
  max-width: unset;
}

h1,
h2,
h3,
h4 {
  font-weight: 500;
  hyphens: auto;
}

main > * + * {
  margin-top: 1rem;
}

.full-screen-height {
  min-height: calc(100vh - 374px);
}

.content-nav {
  margin-bottom: 1rem;
  color: var(--color-light);
  background-color: var(--color-accent);
  border: 1px solid var(--color-accent);
}

.content-nav-header {
  text-decoration: none;
  display: block;
  padding: 0.7rem 1rem;
  font-weight: 700;
  border: 0.08rem solid var(--color-accent);
  border-bottom: none;
}

.content-nav .is-accordion-submenu-parent:not(.has-submenu-toggle) > a::after {
  border-color: var(--color-light) transparent transparent;
}

.social-icon-link,
.social-icon-link:hover,
.social-icon-link:focus {
  text-decoration: none;
}

.social-icon-link span img {
  display: inline-block;
  stroke: currentColor;
  fill: var(--color-lightish);
  stroke-width: 0;
}

address + p {
  margin-top: 1rem;
}

.nav-links a,
.content-nav a {
  background-color: var(--color-accent);
  color: var(--color-light);
  font-weight: bold;
  width: 100%;
}

.footer a {
  color: var(--color-lightish);
  font-weight: normal;
}

.head .message a {
  color: var(--color-light);
  text-decoration: underline;
}

.nav-links a:hover,
.nav-links a:focus,
.content-nav a:hover,
.content-nav a:focus {
  background-color: var(--color-light);
  color: var(--color-dark);
  text-decoration: none;
}

.menu .is-active,
.menu .is-active > a {
  background-color: var(--color-light);
  color: var(--color-dark);
}

.footer .vertical.menu a {
  padding: 0.7rem 1rem 0.7rem 0;
}

.head .message a:hover,
.head .message a:active {
  color: var(--color-light);
  text-decoration: none;
}

.embed-container {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
}

.embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.head {
  background-color: var(--color-rspca-blue);
}

.head .branch-name {
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
}

.head .logo {
  width: 104px;
  height: 55px;
}

.head .button {
  background-color: var(--color-accent-orange);
  color: var(--color-light);
  border-radius: 5px;
  font-weight: bold;
  margin: 0;
}

.head .message {
  background-color: var(--color-accent-orange);
  font-weight: bold;
  color: var(--color-light);
  margin: 0;
  max-width: none;
}

.warning-text {
  text-transform: uppercase;
  font-weight: bold;
}

.footer {
  background-color: var(--color-rspca-blue);
  color: var(--color-lightish);
}

.footer hr {
  height: 1px;
}

.footer-bottom {
  color: var(--color-lightish);
  font-size: 0.9em;
}

a[href^="tel:"] {
  color: inherit;
  text-decoration: none;
}

/* Telephone symbol */
a[href^="tel:"]::before {
  content: "";
  display: inline-block;
  height: 0.8rem;
  width: 1.1rem;
  background-size: 1rem 0.8rem;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="22" height="32" viewBox="0 0 22 32" fill="currentColor"><path d="M22.375 22.5q0.125 0.5-0.313 0.938l-3.125 3.125q-0.5 0.5-1.25 0.625h-0.438q-5.125 0-11.188-6.063t-6.063-11.625q0.125-0.75 0.625-1.25l3.188-3.125q0.313-0.313 0.75-0.313 0.625 0 0.938 0.625l2.563 4.75q0.438 0.875-0.313 1.625l-1.125 1.188q-0.125 0.125-0.125 0.313 0.063 1.563 2.938 4.438 1.25 1.25 2.375 2t1.625 0.875l0.5 0.125q0.063 0 0.25-0.188l1.375-1.313q0.438-0.438 1-0.438 0.313 0 0.625 0.188h0.063l4.563 2.688q0.438 0.25 0.563 0.813z"/></svg>');
  background-repeat: no-repeat;
}

/* Email symbol */
a[href^="mailto:"]::before {
  content: "";
  display: inline-block;
  height: 0.8rem;
  width: 1.1rem;
  background-size: 1rem 0.8rem;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="22" height="32" viewBox="0 0 22 32" fill="currentColor"><path d="M23.813 6.438q0.813 0 0.813 0.813v1.5q0 0.063-0.125 0.188 0 0.063-0.125 0.125t-0.188 0.063l-11.75 6.875q-0.063 0-0.063 0.031t-0.063 0.031-0.063-0.063l-12.125-6.875q-0.125-0.125-0.125-0.188v-1.688q0-0.813 0.813-0.813h23zM24.563 11.438q0.063 0.063 0.063 0.125v11.063q0 0.188-0.125 0.188l-0.063 0.063q-0.063 0-0.125-0.063l-6.688-7.188v-0.188q0-0.125 0.063-0.125l6.625-3.875q0.125-0.125 0.25 0zM15.813 16.625l7.938 8.563q0.125 0.125 0 0.25t-0.188 0.125h-22.75q-0.125 0-0.375-0.125-0.125-0.125-0.125-0.188 0-0.125 0.063-0.188l8.875-8.188q0.125-0.125 0.25-0.063l2.375 1.375q0.438 0.25 1-0.063l2.625-1.563q0.125-0.125 0.313 0.063zM7.313 15.875l-7 6.438q-0.063 0.063-0.125 0.063h-0.063q-0.125-0.125-0.125-0.188v-10.438q0-0.063 0.125-0.188 0.125-0.063 0.188 0l6.938 4 0.125 0.125q0 0.125-0.063 0.188z"/></svg>');
  background-repeat: no-repeat;
}

/* Telephone symbol on a dark background */
.footer a[href^="tel:"]::before,
.message a[href^="tel:"]::before,
.header a[href^="tel:"]::before {
  content: "";
  display: inline-block;
  height: 0.8rem;
  width: 1.1rem;
  background-size: 1rem 0.8rem;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="22" height="32" viewBox="0 0 22 32" fill="white"><path d="M22.375 22.5q0.125 0.5-0.313 0.938l-3.125 3.125q-0.5 0.5-1.25 0.625h-0.438q-5.125 0-11.188-6.063t-6.063-11.625q0.125-0.75 0.625-1.25l3.188-3.125q0.313-0.313 0.75-0.313 0.625 0 0.938 0.625l2.563 4.75q0.438 0.875-0.313 1.625l-1.125 1.188q-0.125 0.125-0.125 0.313 0.063 1.563 2.938 4.438 1.25 1.25 2.375 2t1.625 0.875l0.5 0.125q0.063 0 0.25-0.188l1.375-1.313q0.438-0.438 1-0.438 0.313 0 0.625 0.188h0.063l4.563 2.688q0.438 0.25 0.563 0.813z"/></svg>');
  background-repeat: no-repeat;
}

/* Email symbol on a dark background */
.footer a[href^="mailto:"]::before,
.message a[href^="mailto:"]::before,
.header a[href^="mailto:"]::before {
  content: "";
  display: inline-block;
  height: 0.8rem;
  width: 1.1rem;
  background-size: 1rem 0.8rem;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="22" height="32" viewBox="0 0 22 32" fill="white"><path d="M23.813 6.438q0.813 0 0.813 0.813v1.5q0 0.063-0.125 0.188 0 0.063-0.125 0.125t-0.188 0.063l-11.75 6.875q-0.063 0-0.063 0.031t-0.063 0.031-0.063-0.063l-12.125-6.875q-0.125-0.125-0.125-0.188v-1.688q0-0.813 0.813-0.813h23zM24.563 11.438q0.063 0.063 0.063 0.125v11.063q0 0.188-0.125 0.188l-0.063 0.063q-0.063 0-0.125-0.063l-6.688-7.188v-0.188q0-0.125 0.063-0.125l6.625-3.875q0.125-0.125 0.25 0zM15.813 16.625l7.938 8.563q0.125 0.125 0 0.25t-0.188 0.125h-22.75q-0.125 0-0.375-0.125-0.125-0.125-0.125-0.188 0-0.125 0.063-0.188l8.875-8.188q0.125-0.125 0.25-0.063l2.375 1.375q0.438 0.25 1-0.063l2.625-1.563q0.125-0.125 0.313 0.063zM7.313 15.875l-7 6.438q-0.063 0.063-0.125 0.063h-0.063q-0.125-0.125-0.125-0.188v-10.438q0-0.063 0.125-0.188 0.125-0.063 0.188 0l6.938 4 0.125 0.125q0 0.125-0.063 0.188z"/></svg>');
  background-repeat: no-repeat;
}

.full-nav,
.full-nav .menu,
.small-nav {
  background-color: var(--color-accent);
}

.full-nav {
  padding: 0;
}

@media screen and (max-width: 39.9375em) {
  .content-nav-container {
    order: 1;
  }

  .content-container {
    order: 2;
  }
}

.panel {
  color: white;

  /* margin: 0.5em; */
  margin-top: 0.5em;
  padding: 0.5em;
}

.spaced {
  margin-left: 2em;
  margin-right: 2em;
}

/* To reduce the margin-bottom to 0 as the default for p is 1 */
div.panel p {
  margin-bottom: 0;
}

.newsbox {
  border: 4px solid #fefefe;
  box-shadow: 0 0 0 1px rgba(10, 10, 10, 0.2);
  padding-top: 1em;
  padding-left: 1em;
  padding-right: 1em;
}
