<!DOCTYPE html>
<html class="no-js" lang="en">
{{> metadata }}
<body>
{{> header }} {{> navigation }}
<!-- BODY OF PAGE STARTS HERE-->
<div class="grid-container full-screen-height">
  {{> breadcrumbs }}
  <!-- MAIN CONTENT -->
  <div class="grid-x align-center">
    <main class="cell medium-10" role="main">
      <div>
        <div class="grid-x grid-margin-x align-center">
          <div class="cell">
            <h2>About RSPCA Cambridge Clinic</h2>
          </div>
        </div>
        <div class="grid-x grid-margin-x grid-padding-y align-center">
          <div class="cell medium-8">
            <section id="about" data-magellan-target="about">
              <p>
                The
                <!--                    <a href="clinichistory.html">-->
                history of the RSPCA Cambridge animal clinic
                <!--                    </a>-->
                dates back to the 1930s. Staff and hospital facilities for the
                clinic are provided by the
                <a href="http://www.vet.cam.ac.uk/"
                >University of Cambridge Veterinary School</a
                >
                who use it as a teaching centre where students can see
                real-life cases being treated by qualified vets.
                <a href="https://www.youtube.com/watch?t=1&v=ZF7HbUIgasY">
                  View the clinic in action.
                </a>
              </p>
              <p>
                Without our cheap vet treatment for low income pet owners it
                is very likely that even more animals would be dumped or
                handed over to the local dog warden - and very probably put to
                sleep.
              </p>
            </section>
          </div>
          <div class="cell medium-4">
            <img src="{{assetPrefix}}img/clinic.jpg" alt="Photo of the clinic" />
          </div>
        </div>
      </div>
    </main>
  </div>
</div>
{{> footer }} {{> scripts }}
</body>
</html>
