<!-- BREADCRUMBS NAVIGATION -->
<div>
  <nav aria-label="You are here:" role="navigation">
    <ul class="breadcrumbs">
      {{#breadcrumbs}}
      <li><a href="{{filepath}}">{{content}}</a></li>
      {{/breadcrumbs}}
      <li><span class="show-for-sr">Current: </span> {{current_breadcrumb}}</li>
    </ul>
  </nav>
</div>
