<!--FOOTER STARTS HERE-->
<footer class="footer fluid">
  <div class="grid-container">
    <div class="grid-x grid-margin-x grid-padding-x grid-padding-y">
      <div class="cell medium-4">
        <h4 class="align-right">More info</h4>
        <ul class="menu vertical align-left">
          <li><a href="{{assetPrefix}}about.html">About us</a></li>
          <li><a href="{{assetPrefix}}news.html">News</a></li>
          <li><a href="{{assetPrefix}}clinic.html">Our clinic</a></li>
          <li><a href="{{assetPrefix}}shops.html">Our shops</a></li>
          <li><a href="{{assetPrefix}}adopt.html">Adopt a pet</a></li>
          <li><a href="{{assetPrefix}}volunteer.html">Volunteer with us</a></li>
        </ul>
      </div>
      <div class="cell medium-4">
        <h4 class="align-right">Find us</h4>
        <address>
          <strong>RSPCA Animal Clinic</strong> <br />
          1 Pool Way <br />
          Whitehill Road <br />
          Cambridge <br />
          CB5 8NT <br />
        </address>
        <p>
          <a href="tel:+441223 247 986">01223 247 986</a>
        </p>
      </div>
      <div class="cell medium-4">
        <h4 class="align-right">Contact us</h4>
        <p>
          <a href="mailto:info@rspcacambridge.org.uk"
            >info@rspcacambridge.org.uk</a
          >
        </p>
        <p>
          <a href="tel:+447742658086">07742 658 086</a>
        </p>
        <div class="cell medium-6">
          <ul class="menu simple">
            <li>
              <a
                class="social-icon-link"
                href="https://twitter.com/#!/cambstreasurer"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="32"
                  height="32"
                  viewBox="0 0 32 32"
                  fill="currentColor"
                >
                  <title>Twitter</title>
                  <path
                    d="M24.6 8.4q-1.2 1.7-2.5 2.6v0.6q0 5.5-3.9 9.9t-10.5 4.4q-4.2 0-7.7-2.2 0.4 0.1 1.2 0.1 3.5 0 6.3-2.2-1.6-0.1-2.9-1t-1.8-2.5q0.6 0.1 0.9 0.1 0.7 0 1.4-0.2-1.7-0.3-2.9-1.7t-1.2-3.2v-0.1q1.3 0.7 2.3 0.7-2.2-1.5-2.2-4.2 0-1.4 0.6-2.5 4.1 4.9 10.4 5.3-0.1-0.7-0.1-1.1 0-2.1 1.5-3.6t3.6-1.5q2.3 0 3.7 1.6 1.8-0.4 3.2-1.2-0.6 1.8-2.2 2.8 1.4-0.2 2.9-0.7z"
                  />
                </svg>
              </a>
            </li>
            <li>
              <a
                class="social-icon-link"
                href="https://www.facebook.com/rspcacambridge"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="32"
                  height="32"
                  viewBox="0 0 32 32"
                  fill="currentColor"
                >
                  <title>Facebook</title>
                  <path
                    d="M21.8 4.5q0.5 0 0.9 0.4t0.4 0.9v20.5q0 0.5-0.4 0.9t-0.9 0.4h-5.9v-8.9h3l0.4-3.5h-3.4v-2.2q0-1.7 1.8-1.7h1.8v-3.1q-0.9-0.2-2.7-0.2-2 0-3.2 1.2t-1.2 3.4v2.6h-3v3.5h3v8.9h-11.1q-0.5 0-0.9-0.4t-0.4-0.9v-20.5q0-0.5 0.4-0.9t0.9-0.4h20.5z"
                  />
                </svg>
              </a>
            </li>
            <li>
              <a
                class="social-icon-link"
                href="https://rspca-cambridge-rehome.blogspot.com"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="32"
                  height="32"
                  viewBox="0 0 32 32"
                  fill="currentColor"
                >
                  <title>Blogger</title>
                  <path
                    d="M19.25 4.5q1.563 0 2.688 1.125t1.125 2.688v15.375q0 1.563-1.125 2.688t-2.688 1.125h-15.438q-1.563 0-2.688-1.125t-1.125-2.688v-15.375q0-1.563 1.125-2.688t2.688-1.125h15.438zM18.5 18.563v-3.813l-0.125-0.25-0.188-0.125q-0.125-0.063-0.938-0.094t-1-0.219q-0.25-0.25-0.375-1.25t-0.375-1.5q-0.438-0.938-1.5-1.625t-1.938-0.813h-3.125q-1.813 0-3.156 1.344t-1.344 3.156v5.188q0 1.813 1.344 3.125t3.156 1.313h5.125q1.813 0 3.125-1.313t1.313-3.125zM9 14.25q-0.375 0-0.625-0.281t-0.25-0.594q0-0.813 0.875-0.813h2.438q0.875 0 0.875 0.813 0 0.313-0.25 0.594t-0.625 0.281h-2.438zM14 17.625q0.313 0 0.594 0.281t0.281 0.594-0.281 0.563-0.594 0.25h-5q-0.875 0-0.875-0.813 0-0.313 0.25-0.594t0.625-0.281h5z"
                  ></path>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <hr />
    <div class="grid-x grid-margin-x text-center footer-bottom">
      <div class="cell">
        <p>
          &copy; RSPCA Cambridge 2020. All rights reserved. Registered charity
          no. 205098
        </p>
        <ul class="menu align-center">
          <li><a href="{{assetPrefix}}tac.html">Terms &amp; Conditions</a></li>
          <li>
            <a href="https://www.rspca.org.uk/utilities/privacy"
              >Privacy Policy</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
