<!--FOOTER STARTS HERE-->
<footer class="footer grid-container fluid">
  <div class="grid-x grid-margin-x">
    <div class="cell medium-6">
      <ul class="menu vertical align-left">
        <li><a href="{{assetPrefix}}index.html">Home</a></li>
        <li><a href="{{assetPrefix}}about.html">About</a></li>
        <li><a href="{{assetPrefix}}contact.html">Contact</a></li>
      </ul>
    </div>
    <div class="cell medium-6">
      <h3 class="align-right">Contact us</h3>
      <ul class="menu simple">
        <li>
          <a
            class="social-icon-link"
            href="https://twitter.com/#!/cambstreasurer"
          >
            <span>
              <img alt="Twitter logo" src="{{assetPrefix}}icons/twitter.svg" />
            </span>
          </a>
        </li>
        <li>
          <a
            class="social-icon-link"
            href="https://www.facebook.com/rspcacambridge"
          >
            <span>
              <img
                alt="Facebook logo"
                src="{{assetPrefix}}icons/facebook.svg"
              />
            </span>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <hr />
  <div class="grid-x grid-margin-x text-center">
    <div class="cell">
      <p>
        &copy; RSPCA Cambridge 2020. All rights reserved. Registered charity no.
        205098
      </p>
      <ul class="menu align-center">
        <li><a href="{{assetPrefix}}tac.html">Terms &amp; Conditions</a></li>
        <li>
          <a href="https://www.rspca.org.uk/utilities/privacy"
            >Privacy Policy</a
          >
        </li>
      </ul>
    </div>
  </div>
</footer>
