<!-- PAGE HEADER -->
<header class="head">
  <div class="grid-x text-center message">
    <div class="cell grid-container">
      <p class="message">
        To report animal emergencies, cruelty or neglect call the National RSPCA
        Helpline on
        <span class="nowrap">
          <a href="tel:+443001234999" title="Call the National RSPCA Helpline"
            >0300&nbsp;1234&nbsp;999</a
          >
        </span>
        or report it
        <a
          href="https://www.rspca.org.uk/utilities/contactus/reportcruelty"
          title="Report animal emergencies, cruelty or neglect on the RSPCA website"
          >online</a
        >.
      </p>
    </div>
  </div>

  <div class="grid-x align-center">
    <div class="cell medium-10">
      <div class="grid-x grid-padding-x grid-padding-y align-justify">
        <div class="cell medium-8">
          <div class="grid-x grid-padding-x align-middle">
            <div class="cell shrink">
              <a href="{{assetPrefix}}index.html">
                <img
                  class="logo"
                  src="{{assetPrefix}}img/rspca-logo.png"
                  alt="RSPCA logo"
                />
              </a>
            </div>
            <div class="cell auto">
              <span class="branch-name">Cambridge and District Branch</span>
            </div>
          </div>
        </div>

        <div class="cell medium-4 hide-for-small-only">
          <div class="grid-x grid-padding-x align-right">
            <div class="cell shrink">
              <a
                href="https://www.justgiving.com/rspcacambridge/donate/?utm_source=website&utm_medium=buttons&utm_content=rspcacambridge&utm_campaign=Donate_JG_Blue"
                class="button"
                >Donate</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
