<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta
    name="keywords"
    content="RSPCA Cambridge branch, clinic, rehoming, adoption, Littleport, Royston, Gamlingay, Newmarket"
  />
  <meta
    name="description"
    content="RSPCA Cambridge | Animal charity branch serving the Cambridge area"
  />
  <title>
    {{#metadata_page_title}}{{metadata_page_title}} -
    {{/metadata_page_title}}RSPCA Cambridge and District Branch
  </title>
  <link rel="icon" href="{{assetPrefix}}img/favicon.ico" type="image/x-icon" />
  <link rel="shortcut icon" href="{{assetPrefix}}img/favicon.ico" type="image/x-icon" />
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/foundation-sites@6.6.3/dist/css/foundation.min.css"
    integrity="sha256-ogmFxjqiTMnZhxCqVmcqTvjfe1Y/ec4WaRj/aQPvn+I="
    crossorigin="anonymous"
  />
  <link rel="stylesheet" href="{{assetPrefix}}css/rspca.css" />
</head>
