<!-- NAVIGATION -->
<!-- Small Navigation -->
<div
  class="title-bar small-nav"
  data-responsive-toggle="nav-menu"
  data-hide-for="medium"
>
  <button class="menu-icon" type="button" data-toggle></button>
  <div class="title-bar-title">Menu</div>
</div>

<!-- Medium-Up Navigation -->
<nav class="top-bar full-nav" id="nav-menu" aria-label="Main">
  <!-- Left Nav Section -->
  <div class="top-bar-left">
    <ul class="vertical medium-horizontal menu nav-links align-center">
      <li><a href="{{assetPrefix}}index.html" class="button">Home</a></li>
      <li><a href="{{assetPrefix}}about.html" class="button">About</a></li>
      <li><a href="{{assetPrefix}}clinic.html" class="button">Clinic</a></li>
      <li><a href="{{assetPrefix}}shops.html" class="button">Shops</a></li>
      <li><a href="{{assetPrefix}}donate.html" class="button">Donate</a></li>
      <li><a href="{{assetPrefix}}volunteer.html" class="button">Volunteer</a></li>
      <li><a href="{{assetPrefix}}adopt.html" class="button">Adopt</a></li>
      <li><a href="{{assetPrefix}}news.html" class="button">News</a></li>
      <li><a href="{{assetPrefix}}contact.html" class="button">Contact</a></li>
    </ul>
  </div>
</nav>
