<!DOCTYPE html>
<html class="no-js" lang="en">
  {{> metadata }}
  <body>
    {{> header }} {{> navigation }}
    <!-- BODY OF PAGE STARTS HERE-->
    <div class="grid-container full-screen-height">
      {{#breadcrumbs?}} {{> breadcrumbs }} {{/breadcrumbs?}}
      <!-- MAIN CONTENT -->
      <div class="grid-x">
        <main class="cell" role="main">
          <div class="grid-x grid-margin-x grid-padding-y">
            <div class="cell">
              <h2>{{current_breadcrumb}}</h2>
            </div>
          </div>
          <div class="grid-x grid-margin-x align-center">
            <div class="cell medium-8">
              <figure>
                <img
                  src="{{assetPrefix}}img/brancharea.jpg"
                  alt="A map showing the borders of the RSPCA Cambridge & District branch area"
                />
                <figcaption>
                  RSPCA Cambridge &amp; District branch area
                </figcaption>
              </figure>
            </div>
          </div>
        </main>
      </div>
    </div>
    {{> footer }} {{> scripts }}
  </body>
</html>
