<!DOCTYPE html>
<html class="no-js" lang="en">
  {{> metadata }}
  <body>
    {{> header }} {{> navigation }}
    <!-- BODY OF PAGE STARTS HERE-->
    <div class="grid-container full-screen-height">
      {{> breadcrumbs }}
      <!-- MAIN CONTENT -->
      <div class="grid-x align-center">
        <main class="cell" role="main">
          <div itemscope itemtype="http://schema.org/UKNonprofitType">
            <div class="grid-x grid-margin-x align-center">
              <div class="cell">
                <h2 itemprop="name">
                  <span class="hide">RSPCA Cambridge</span> Clinic
                </h2>
              </div>
            </div>
            <div class="grid-x grid-margin-x grid-padding-y align-center">
              <section class="cell medium-8 content-container" id="about">
                <p class="lead">
                  The history of the RSPCA Cambridge animal clinic dates back to
                  the 1930s. Staff and hospital facilities for the clinic are
                  provided by the
                  <a
                    href="http://www.vet.cam.ac.uk/"
                    title="University of Cambridge Veterinary School website"
                    >University of Cambridge Veterinary School</a
                  >
                  who use it as a teaching centre where students can see
                  real-life cases being treated by qualified vets.
                  <a
                    href="https://www.youtube.com/watch?t=1&v=ZF7HbUIgasY"
                    title="Video about the clinic"
                  >
                    View the clinic in action.
                  </a>
                </p>
                <p class="lead">
                  Without our cheap vet treatment for low income pet owners it
                  is very likely that even more animals would be dumped or
                  handed over to the local dog warden &ndash; and very probably
                  put to sleep.
                </p>
              </section>
              <div class="cell medium-4 content-nav-container">
                <figure>
                  <img
                    src="{{assetPrefix}}img/dog-in-clinic.jpeg"
                    alt="Photo of a dog in the clinic"
                  />
                  <figcaption>Photo by Poppy Corbett</figcaption>
                </figure>
              </div>
            </div>
            <div class="grid-x grid-margin-x align-center">
              <div class="cell">
                <h3>
                  Find us
                </h3>
              </div>
            </div>
            <div class="grid-x grid-margin-x grid-padding-y align-center">
              <div class="cell medium-8">
                <div class="grid-x grid-margin-x">
                  <div class="cell">
                    <h4>Opening hours</h4>
                    <div class="callout alert hide">
                      <p>
                        <strong
                          >April 2020: Clinic currently not running due to
                          Coronavirus.</strong
                        ><br />
                        Registered clients please contact Branch for veterinary
                        emergencies.
                      </p>
                    </div>
                    <table
                      itemprop="openingHours"
                      content="Tu,We,Th,Fr 09:00-10:30"
                      class="stack"
                    >
                      <caption class="show-for-sr">
                        Opening hours
                      </caption>
                      <thead class="show-for-sr">
                        <tr>
                          <th id="weekday">Weekday</th>
                          <th id="time">Time</th>
                          <th id="services">Services</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td headers="weekday">Tuesday</td>
                          <td headers="time">09:00-10:30</td>
                          <td headers="services">Open surgery</td>
                        </tr>
                        <tr>
                          <td headers="weekday">Wednesday</td>
                          <td headers="time">09:00-10:30</td>
                          <td headers="services">
                            Vaccination, microchipping, neutering pre-checks and
                            post-operative stitch removal only
                          </td>
                        </tr>
                        <tr>
                          <td headers="weekday">Thursday</td>
                          <td headers="time">09:00-10:30</td>
                          <td headers="services">Open surgery</td>
                        </tr>
                        <tr>
                          <td headers="weekday">Friday</td>
                          <td headers="time">09:00-10:30</td>
                          <td headers="services">Open surgery</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="cell">
                    <h4>Address</h4>
                    <address itemprop="address">
                      1 Pool Way<br />
                      Whitehill Road<br />
                      Cambridge<br />
                      CB5 8NT
                    </address>
                    <p itemprop="telephone" content="+441223247986">
                      <a href="tel:+441223247986">01223&nbsp;247&nbsp;986</a>
                    </p>
                  </div>
                </div>
              </div>
              <div class="cell medium-4 text-center">
                <iframe
                  title="Map"
                  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2444.857487208834!2d0.15359931570958604!3d52.209637266935815!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47d8706632bd4431%3A0xce42f04ce09bf9bf!2sRSPCA%20Cambridge%20and%20District%20Branch!5e0!3m2!1sru!2suk!4v1591275778243!5m2!1sru!2suk"
                  style="border: 0; height: 100%; width: 100%;"
                  allowfullscreen=""
                  aria-hidden="false"
                  tabindex="0"
                ></iframe>
              </div>
            </div>
          </div>
          <div class="grid-x grid-margin-x align-center">
            <div class="cell">
              <section id="appointments">
                <h3>Bringing your pet</h3>
                <p>
                  There is no appointment system at the clinic and animals are
                  seen on a first-come, first-served basis (except some very
                  infectious cases who may have to be seen last).
                </p>
                <p>
                  Registration normally begins at about 8:30 and no further
                  cases will be admitted after 10:30, although everyone who has
                  arrived by then will be seen. On busy days this will mean a
                  long wait.
                </p>
                <div class="callout warning">
                  <p>
                    <strong
                      >If you are bringing a puppy or dog for their first
                      vaccinations</strong
                    >, we advise that you come to the Wednesday session and not
                    one of the open surgeries, to avoid bringing them into
                    contact with other dogs who may already be carrying
                    infection.
                  </p>
                  <p>
                    If possible, leave the puppy in your car while you register
                    and only bring them into the building when it is your turn
                    to see the vet. Carry them so that they do not risk picking
                    up infection from where other dogs have walked.
                  </p>
                  <p>
                    Suspected cases of infection <strong>CANNOT</strong> be seen
                    at the clinic on Wednesdays, to avoid risk to young animals
                    who are there for their first vaccinations.
                  </p>
                </div>
              </section>
            </div>
          </div>
          <div class="grid-x align-center">
            <div class="cell">
              <div class="grid-x grid-margin-x align-center">
                <div class="cell">
                  <h2>FAQ</h2>
                </div>
              </div>
              <div
                class="grid-x grid-margin-x grid-padding-y align-center"
                id="content"
              >
                <div class="cell medium-8 content-container">
                  <article id="faq">
                    <section
                      id="eligibility"
                      data-magellan-target="eligibility"
                    >
                      <h3>Is my pet eligible?</h3>
                      <p>
                        Our subsidised animal clinic in Cambridge is exclusively
                        for &ldquo;means-tested&rdquo; benefits and pet owners
                        who cannot afford private vet treatment and who live in
                        our
                        <a
                          href="https://www.google.co.uk/maps/@52.204985,0.11604,10z/data=!3m1!4b1!4m2!6m1!1s1yTDvo46R130kr5HwmJXjuwSXU_g?hl=en"
                        >
                          catchment area</a
                        >.
                      </p>
                      <p>
                        If you wish to use the clinic you
                        <strong>MUST</strong> bring proof of benefits or
                        paperwork (such as a bank statement which shows that you
                        have a very low income) each time you visit.
                      </p>
                      <p>
                        If you are unable to bring your pet yourself it's fine
                        for a helper to bring them for you, but the helper must
                        show proof that you are in receipt of benefit and needs
                        to have a signed note from you confirming that they are
                        bringing the animal on your behalf.
                      </p>
                    </section>
                    <hr />
                    <section id="cost" data-magellan-target="cost">
                      <h3>How much does it cost?</h3>
                      <p>
                        There is a basic
                        <strong
                          >&pound;15 charge per visit, plus the cost price of
                          any medicines prescribed for your pet</strong
                        >.
                      </p>
                      <p>
                        The basic charge is payable to the RSPCA Cambridge and
                        we use it to cover part of the cost of paying for vets
                        to staff the clinic. Even though the university charges
                        us less than a commercial rate, we do still need to pay
                        for their services.
                        <strong
                          >We now accept card payments as well as cash or
                          cheque.</strong
                        >
                      </p>
                      <p>
                        Charges for medicines are paid directly to the
                        University of Cambridge vet school. The vet school takes
                        <strong
                          >cash, credit or debit card payments but cannot take
                          cheque payments</strong
                        >.
                      </p>
                      <p>
                        If your pet needs an operation it will be charged at
                        cost price, excluding the value of the operating
                        surgeon's time. On average this means that you only pay
                        half of what it costs the branch to provide treatment
                        for your animal.
                      </p>
                    </section>
                    <hr />
                    <section
                      id="which-animals"
                      data-magellan-target="which-animals"
                    >
                      <h3>
                        Which animals can you treat?
                      </h3>
                      <p>
                        The Cambridge clinic can treat most common domestic
                        animals, but we do not have facilities for reptiles,
                        poultry, exotic birds or farm animals.
                      </p>
                      <p>
                        If your animal belongs to a group that we cannot treat
                        at the clinic, it may be possible for us to provide some
                        financial help to enable them to be seen at a private
                        vet. If you live inside our
                        <!--              <a href="map.html">-->
                        branch area,
                        <!--              </a>-->
                        you can phone
                        <a href="tel:+447742658086">07742 658 086</a> for advice
                        about help. Otherwise phone the national control centre
                        on <a href="tel:+443001234999">0300 1234 999</a>.
                      </p>
                    </section>
                    <hr />
                    <section
                      id="out-of-hours"
                      data-magellan-target="out-of-hours"
                    >
                      <h3>
                        What if my pet needs help out of hours?
                      </h3>
                      <p>
                        Registered clinic patients only are eligible for
                        out-of-hours emergency treatment. This is charged at a
                        higher rate than normal sessions in order to prevent the
                        service being abused for non-urgent cases.
                      </p>
                      <p>
                        If your animal is registered with the clinic and has an
                        infection which cannot wait until the following day, you
                        should phone the number on your registration card for
                        advice on what to do.
                      </p>
                    </section>
                    <hr />
                    <section
                      id="vaccinations"
                      data-magellan-target="vaccinations"
                    >
                      <h3>Vaccinations</h3>
                      <p>
                        We can vaccinate dogs, cats and rabbits at the below
                        prices. If possible, please try to bring animals needing
                        vaccination only to the Wednesday session. This relieves
                        pressure on the other open surgery days so that ill
                        animals can be seen more quickly. Also, it reduces the
                        risk that your puppy or kitten could pick up an
                        infection from sick animals waiting in the surgery.
                      </p>
                      <ul>
                        <li>
                          Kitten and puppy vaccinations: &pound;12 for the first
                          vaccination and &pound;12 for the booster 3 weeks
                          later.
                        </li>
                        <li>
                          Additional boosters should be given every year and are
                          &pound;17 for cats and dogs.
                        </li>
                        <li>Rabbit vaccinations: &pound;17.</li>
                        <li>
                          RHVD-2. Vaccination Annual Booster (Rabbits) from 10
                          weeks of age: &pound;12
                        </li>
                      </ul>
                      <p>
                        <strong>Please note: </strong>
                        If your cat or dog has a litter and you plan to sell the
                        puppies or kittens it is unfair to other owners to use
                        our clinic for their vaccinations. You should charge the
                        purchasers enough to cover the cost of the initial
                        vaccinations at a private vet. Our staff have
                        instructions to refuse to vaccinate litters of pedigree
                        puppies where they have reasonable grounds to believe
                        that the puppies will be sold for profit.
                      </p>
                      <div class="callout alert">
                        <p class="alert label warning-text">
                          <strong>Important Warning</strong>
                        </p>
                        <p>
                          <strong
                            >Cambridge is a very high-risk area for
                            <em>myxomatosis</em></strong
                          >, which is a distressing and almost always fatal
                          disease of rabbits. The virus which causes the disease
                          can be transmitted from wild rabbits to tame ones by
                          biting insects such as mosquitoes without any need for
                          direct contact. It is therefore extremely important
                          that all pet rabbits are vaccinated to protect them
                          against this killer disease.
                        </p>
                        <p>
                          <strong
                            >Cambridge is also a high-risk area for
                            <em>canine parvovirus</em></strong
                          >
                          which causes vomiting, diarrhoea and bleeding from the
                          intestines and is often fatal. Vaccination will
                          protect your dog, but remember that vaccinations need
                          to be maintained with yearly boosters to be fully
                          effective.
                        </p>
                        <p>
                          <strong
                            >If your dog is not vaccinated and starts vomiting
                            or has diarrhoea DO NOT</strong
                          >
                          let them mix with other dogs and phone your vet for
                          advice. If you have more than one dog, keep the sick
                          one away from the ones who are still healthy. Contact
                          your vet by phone for advice before getting the
                          healthy dogs vaccinated - they may be carrying the
                          disease and it is important that they are not brought
                          into contact with other dogs.
                        </p>
                      </div>
                    </section>
                    <hr />
                    <section id="neutering" data-magellan-target="neutering">
                      <h3>Neutering</h3>
                      <p>
                        Neutering will prevent your pet from having unwanted
                        litters (remember that pet shops do not always sex
                        animals correctly). It also has health benefits for most
                        animals, such as greatly reducing the risk of tom cats
                        contracting diseases from wandering and fighting other
                        male cats. In the case of rabbits, neutering makes it
                        possible for a male and female to live together and this
                        is usually a much more harmonious pairing than two
                        females or two males.
                      </p>
                      <p>
                        To put your pet on the waiting list for neutering, you
                        need to bring them to the Wednesday session, for a
                        pre-operation health check. Payment should be made at
                        this point and is:
                      </p>
                      <ul>
                        <li>
                          &pound;20 for male cats, guinea pigs and ferrets
                        </li>
                        <li>&pound;22 for male rabbits</li>
                        <li>&pound;40 for female cats</li>
                        <li>&pound;40 for female rabbits</li>
                        <li>&pound;48 for male dogs</li>
                        <li>&pound;65 for female dogs.</li>
                      </ul>
                    </section>
                    <section id="helping" data-magellan-target="helping">
                      <h3>Helping out at the animal clinic</h3>
                      <p>
                        To see what life is like at the RSPCA Cambridge animal
                        clinic, take a look at our YouTube video:
                      </p>
                      <div class="responsive-embed widescreen">
                        <iframe
                          title="Video about volunteering at the RSPCA Cambridge Animal Clinic"
                          height="200"
                          src="https://www.youtube.com/embed/ZF7HbUIgasY"
                          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                          allowfullscreen
                          style="border: 0; width: 100%;"
                        ></iframe>
                      </div>
                      <p>
                        All of the reception staff who handle the clerical work
                        at the clinic are unpaid volunteers. Clinic reception
                        involves dealing with sometimes very distressed people
                        in a high-pressure environment and our receptionists are
                        very special people.
                      </p>
                      <p>
                        Space is limited, so it is only possible to have maximum
                        of two new volunteers per session. New volunteers
                        generally start by sitting in with an experienced team,
                        then gradually do a greater variety of reception tasks
                        until they feel confident.
                      </p>
                      <p>
                        We are looking for an additional volunteer on reception
                        for Wednesday mornings. We are also keen to hear from
                        anyone who would be willing to transport animals to the
                        clinic from private vets where they have received
                        initial first aid, and from the clinic to our kennels,
                        or to
                        <a href="{{assetPath}}foster.html">foster homes</a>. See
                        our
                        <a
                          href="{{assetPath}}volunteer.html"
                          title="RSPCA Cambridge volunteers page"
                          >RSPCA Cambridge volunteers page</a
                        >
                        for more information.
                      </p>
                    </section>
                  </article>
                </div>
                <!-- SIDEBAR NAVIGATION -->
                <div class="cell medium-4 grid-padding-y content-nav-container">
                  <nav
                    class="sticky-container"
                    data-sticky-container
                    aria-label="Content navigation"
                  >
                    <div
                      class="sticky"
                      data-sticky
                      data-anchor="content"
                      data-sticky-on="medium"
                    >
                      <div class="content-nav-header hide-for-small-only">
                        FAQ
                      </div>
                      <ul class="content-nav vertical menu" data-magellan>
                        <li>
                          <a href="#eligibility">Is my pet eligible?</a>
                        </li>
                        <li><a href="#cost">How much does it cost?</a></li>
                        <li>
                          <a href="#which-animals"
                            >Which animals can you treat?</a
                          >
                        </li>
                        <li>
                          <a href="#out-of-hours"
                            >What if my pet needs help out of hours?</a
                          >
                        </li>
                        <li><a href="#vaccinations">Vaccinations</a></li>
                        <li><a href="#neutering">Neutering</a></li>
                        <li>
                          <a href="#helping"
                            >Helping out at the animal clinic</a
                          >
                        </li>
                      </ul>
                    </div>
                  </nav>
                </div>
              </div>
            </div>
          </div>
        </main>
      </div>
    </div>
    {{> footer }} {{> scripts }}
  </body>
</html>
