<!DOCTYPE html>
<html class="no-js" lang="en">
  {{> metadata }}
  <body>
    {{> header }} {{> navigation }}
    <!-- BODY OF PAGE STARTS HERE-->
    <div class="grid-container full-screen-height">
      {{#breadcrumbs?}} {{> breadcrumbs }} {{/breadcrumbs?}}
      <!-- MAIN CONTENT -->
      <div class="grid-x align-center">
        <main class="cell" role="main">
          <div class="grid-x grid-margin-x grid-padding-y">
            <div class="cell">
              <h2>{{current_breadcrumb}}</h2>
            </div>
          </div>
          <div class="grid-x grid-margin-x" id="{{sidebarContentId}}">
            <div class="cell medium-4 medium-order-2">
              {{>sidebar}}
            </div>
            <article class="cell medium-8 medium-order-1">
              <section class="grid-x grid-margin-x">
                <div
                  class="cell card"
                  id="rspca-cambridge-branch"
                  data-magellan-target="rspca-cambridge-branch"
                  itemscope
                  itemtype="schema.org/LocalBusiness"
                >
                  <div class="card-section">
                    <a href="{{assetPrefix}}index.html"
                      ><h3 itemprop="name">
                        RSPCA Cambridge Branch
                      </h3></a
                    >
                    <p>
                      For urgent enquiries:
                      <a href="tel:+447742658086" itemprop="telephone"
                        >07742&nbsp;658&nbsp;086</a
                      >
                    </p>
                    <p>
                      For non-urgent enquiries, as answerphone messages may not
                      be picked up:<br />
                      <a
                        href="mailto:info@rspcacambridge.org.uk"
                        itemprop="email"
                        >info@rspcacambridge.org.uk</a
                      >
                    </p>
                    <div class="callout warning">
                      <p>
                        <strong
                          >Please wait until the evening/weekend for non-urgent
                          calls</strong
                        >
                        and be aware that this number is answered by a volunteer
                        who is also trying to do other tasks.
                      </p>
                      <p>
                        This is just an ordinary mobile phone, so you will not
                        be charged for more than the normal cost of a phone call
                        to a mobile. However, we can normally only help you with
                        problems which occur within our own
                        <a
                          href="https://www.google.com/maps/d/viewer?msa=0&mid=1VjRNZpdNOVCdHceIC98wHvu03Vc&ll=52.22648491805047%2C0.15518000000000143&z=10"
                          target="_blank"
                          rel="noopener noreferrer"
                          >branch area</a
                        >.
                      </p>
                    </div>
                  </div>
                </div>
              </section>
              <section class="grid-x grid-margin-x">
                <div
                  class="cell card"
                  id="cambridge-animal-clinic"
                  data-magellan-target="cambridge-animal-clinic"
                  itemscope
                  itemtype="schema.org/LocalBusiness"
                >
                  <div class="card-section">
                    <a href="{{assetPrefix}}clinic.html">
                      <h3 itemprop="name">
                        RSPCA Cambridge Animal Clinic
                      </h3>
                    </a>
                    <!-- display: inline -->
                    <address itemprop="address" class="directions"
                      >1 Pool Way,<br />
                      Whitehill Road,<br />
                      Cambridge,<br />
                      CB5 8NT
                    </address>
                    <p>
                      <a
                        class="map-link"
                        href="https://goo.gl/maps/HtGFSzviRbvriCyJ9"
                        title="Click to open a map"
                        >Get directions</a
                      >
                    </p>
                    <table
                      itemprop="openingHours"
                      content="Tu,We,Th,Fr 09:00-10:30"
                    >
                      <caption class="show-for-sr">
                        Opening hours
                      </caption>
                      <thead class="show-for-sr">
                        <tr>
                          <th id="weekday">Weekday</th>
                          <th id="time">Time</th>
                          <th id="services">Services</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td headers="weekday">Tuesday</td>
                          <td headers="time">09:00-10:30</td>
                          <td headers="services">Open surgery</td>
                        </tr>
                        <tr>
                          <td headers="weekday">Wednesday</td>
                          <td headers="time">09:00-10:30</td>
                          <td headers="services">
                            Vaccination, microchipping, neutering pre-checks and
                            post-operative stitch removal only
                          </td>
                        </tr>
                        <tr>
                          <td headers="weekday">Thursday</td>
                          <td headers="time">09:00-10:30</td>
                          <td headers="services">Open surgery</td>
                        </tr>
                        <tr>
                          <td headers="weekday">Friday</td>
                          <td headers="time">09:00-10:30</td>
                          <td headers="services">Open surgery</td>
                        </tr>
                      </tbody>
                    </table>
                    <p class="callout secondary">
                      If you need to find a vet near Cambridge and are not
                      eligible for assistance by us (see our
                      <a href="{{assetPrefix}}clinic.html"
                        >Animal Clinic page</a
                      >
                      for details), you can find a local vet by entering your
                      postcode on the
                      <a
                        href="https://findavet.rcvs.org.uk"
                        title="Royal College of Veterinary Surgeons website"
                        >Royal College of Veterinary Surgeons website</a
                      >. Please note that this website is not affiliated to the
                      RSPCA and we cannot guarantee the accuracy of other
                      websites.
                    </p>
                  </div>
                </div>
              </section>
              <section class="grid-x grid-margin-x">
                <div
                  class="cell card"
                  id="cambridge-and-district-animal-rehoming"
                  data-magellan-target="cambridge-and-district-animal-rehoming"
                  itemscope
                  itemtype="schema.org/LocalBusiness"
                >
                  <div class="card-section">
                    <a href="{{assetPrefix}}adopt.html">
                      <h3 itemprop="name">
                        Cambridge &amp; District Animal Rehoming
                      </h3>
                    </a>
                    <p>
                      <a href="tel:+441638508316" itemprop="telephone"
                        >01638&nbsp;508&nbsp;316</a
                      >
                    </p>
                    <p>
                      Preferably:
                      <a
                        href="mailto:rehoming@rspcacambridge.org.uk"
                        itemprop="email"
                        >rehoming@rspcacambridge.org.uk</a
                      >
                    </p>
                  </div>
                </div>
              </section>
              <section class="grid-x grid-margin-x">
                <div
                  class="cell card"
                  id="cambridge-charity-shop-emporium"
                  data-magellan-target="cambridge-charity-shop-emporium"
                  itemscope
                  itemtype="schema.org/LocalBusiness"
                >
                  <div class="card-section">
                    <a href="{{assetPrefix}}shops.html"
                      ><h3 itemprop="name">
                        Cambridge Charity Shop (Burleigh St)
                      </h3></a
                    >
                    <!-- display: inline -->
                    <address itemprop="address" class="directions"
                      >Emporium 61,<br />
                      61 Burleigh Street,<br />
                      Cambridge,<br />
                      CB1 1DJ
                    </address>
                    <p>
                      <a
                        class="map-link"
                        href="https://goo.gl/maps/LPDZSDx38Aum9QNN7"
                        title="Click to open a map"
                        >Get directions</a
                      >
                    </p>
                    <p>
                      <a href="tel:+441223312802" itemprop="telephone"
                        >01223&nbsp;312&nbsp;802</a
                      >
                    </p>
                    <table
                      itemprop="openingHours"
                      content="Mo,Tu,We,Th,Fr,Sa,Su 10:00-17:00"
                    >
                      <caption class="show-for-sr">
                        Opening hours
                      </caption>
                      <thead class="show-for-sr">
                        <tr>
                          <th id="burleigh-weekdays">Weekdays</th>
                          <th id="burleigh-time">Time</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td headers="burleigh-weekdays">
                            Monday&ndash;Sunday
                          </td>
                          <td headers="burleigh-time">10:00&ndash;17:00</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </section>
              <section class="grid-x grid-margin-x">
                <div
                  class="cell card"
                  itemscope
                  itemtype="schema.org/LocalBusiness"
                  id="cambridge-charity-shop"
                  data-magellan-target="cambridge-charity-shop"
                >
                  <div class="card-section">
                    <a href="{{assetPrefix}}shops.html"
                      ><h3 itemprop="name">
                        Cambridge Charity Shop (Mill Rd)
                      </h3></a
                    >
                    <!-- display: inline -->
                    <address itemprop="address" class="directions"
                      >188 Mill Road,<br />
                      Cambridge,<br />
                      CB1 3LP
                    </address>
                    <p>
                      <a
                        class="map-link"
                        href="https://goo.gl/maps/jgMmWRqhngwPdu2v8"
                        title="Click to open a map"
                        >Get directions</a
                      >
                    </p>
                    <p>
                      <a href="tel:+441223212644" itemprop="telephone"
                        >01223&nbsp;212&nbsp;644</a
                      >
                    </p>
                    <div>
                      <meta
                        itemprop="openingHours"
                        content="Mo,Tu,We,Th,Fr,Sa 10:00-17:00"
                      />
                      <meta itemprop="openingHours" content="Su 11:00-17:00" />
                      <table>
                        <caption class="show-for-sr">
                          Opening hours
                        </caption>
                        <thead class="show-for-sr">
                          <tr>
                            <th id="mill-weekdays">Weekdays</th>
                            <th id="mill-time">Time</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td headers="mill-weekdays">
                              Monday&ndash;Saturday
                            </td>
                            <td headers="mill-time">10:00&ndash;17:00</td>
                          </tr>
                          <tr>
                            <td headers="mill-weekdays">Sunday</td>
                            <td headers="mill-time">11:00&ndash;17:00</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </section>
              <section class="grid-x grid-margin-x">
                <div
                  class="cell card"
                  itemscope
                  itemtype="schema.org/LocalBusiness"
                  id="newmarket-charity-shop"
                  data-magellan-target="newmarket-charity-shop"
                >
                  <div class="card-section">
                    <a href="{{assetPrefix}}shops.html"
                      ><h3 itemprop="name">
                        Newmarket Charity Shop
                      </h3></a
                    >
                    <!-- display: inline -->
                    <address itemprop="address" class="directions"
                      >10A Market Street,<br />
                      Newmarket<br />
                      CB8 8EEt
                    </address>
                    <p>
                      <a
                        class="map-link"
                        href="https://goo.gl/maps/bzVJ1m6w1y6mcztdA"
                        title="Click to open a map"
                        >Get directions</a
                      >
                    </p>
                    <p>
                      <a href="tel:+441638662053" itemprop="telephone"
                        >01638&nbsp;662&nbsp;053</a
                      >
                    </p>
                    <div>
                      <meta
                        itemprop="openingHours"
                        content="Mo,Tu,We,Th,Fr,Sa 09:30-16:30"
                      />
                      <meta itemprop="openingHours" content="Su 10:00-16:00" />
                      <table>
                        <caption class="show-for-sr">
                          Opening hours
                        </caption>
                        <thead class="show-for-sr">
                          <tr>
                            <th id="newmarket-weekdays">Weekdays</th>
                            <th id="newmarket-time">Time</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td headers="newmarket-weekdays">
                              Monday&ndash;Saturday
                            </td>
                            <td headers="newmarket-time">09:30&ndash;16:30</td>
                          </tr>
                          <tr>
                            <td headers="newmarket-weekdays">Sunday</td>
                            <td headers="newmarket-time">10:00&ndash;16:00</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </section>
            </article>
          </div>
        </main>
      </div>
    </div>
    {{> footer }} {{> scripts }}
  </body>
</html>
