<!DOCTYPE html>
<html class="no-js" lang="en">
  {{> metadata }}
  <body>
    {{> header }} {{> navigation }}
    <!-- BODY OF PAGE STARTS HERE-->
    <div class="grid-container full-screen-height">
      {{#breadcrumbs?}} {{> breadcrumbs }} {{/breadcrumbs?}}
      <!-- MAIN CONTENT -->
      <div class="grid-x align-center">
        <main class="cell" role="main" id="{{sidebarContentId}}">
          <div class="grid-x grid-margin-x align-center">
            <div class="cell">
              <h2>Contact</h2>
            </div>
          </div>
          <div
            class="grid-x grid-margin-x align-center"
            data-equalizer
            data-equalize-on="medium"
          >
            <div class="cell medium-8 content-container">
              <div
                class="card"
                id="cambridge-animal-clinic"
                data-magellan-target="cambridge-animal-clinic"
              >
                <div
                  class="card-section"
                  itemscope
                  itemtype="schema.org/LocalBusiness"
                >
                  <a href="{{assetPrefix}}clinic.html" title="Our clinic page">
                    <h3 itemprop="name">
                      Cambridge Animal Clinic
                    </h3>
                  </a>
                  <address itemprop="address">
                    1 Pool Way, Whitehill Road, Cambridge, CB5 8NT
                  </address>
                  <p>
                    Tel:
                    <a href="tel:+4412232479866" itemprop="telephone"
                      >01223 247 986</a
                    >
                  </p>
                </div>
              </div>
              <div
                class="card"
                id="cambridge-charity-shop-emporium"
                data-magellan-target="cambridge-charity-shop-emporium"
              >
                <div
                  class="card-section"
                  itemscope
                  itemtype="schema.org/LocalBusiness"
                >
                  <a href="{{assetPrefix}}shops.html" title="Our shop page"
                    ><h3 itemprop="name">
                      Cambridge Charity Shop (Burleigh St)
                    </h3></a
                  >
                  <address itemprop="address">
                    Emporium 61, 61 Burleigh Street, Cambridge, CB1 1DJ
                  </address>
                  <p>
                    Tel:
                    <a href="tel:+441223312802" itemprop="telephone"
                      >01223 312 802</a
                    >
                  </p>
                </div>
              </div>
              <div
                class="card"
                id="cambridge-charity-shop"
                data-magellan-target="cambridge-charity-shop"
              >
                <div
                  class="card-section"
                  itemscope
                  itemtype="schema.org/LocalBusiness"
                >
                  <a href="{{assetPrefix}}shops.html" title="Our shop page"
                    ><h3 itemprop="name">
                      Cambridge Charity Shop (Mill Rd)
                    </h3></a
                  >
                  <address itemprop="address">
                    188 Mill Road, Cambridge, CB1 3LP
                  </address>
                  <p>
                    Tel:
                    <a href="tel:+441223212644" itemprop="telephone"
                      >01223 212 644</a
                    >
                  </p>
                </div>
              </div>
              <div
                class="card"
                id="newmarket-charity-shop"
                data-magellan-target="newmarket-charity-shop"
              >
                <div
                  class="card-section"
                  itemscope
                  itemtype="schema.org/LocalBusiness"
                >
                  <a href="{{assetPrefix}}shops.html" title="Our shop page"
                    ><h3 itemprop="name">
                      Newmarket Charity Shop
                    </h3></a
                  >
                  <address itemprop="address">
                    10A Market Street, Newmarket CB8 8EEt
                  </address>
                  <p>
                    Tel:
                    <a href="tel:+441638662053" itemprop="telephone"
                      >01638 662 053</a
                    >
                  </p>
                </div>
              </div>
              <div
                class="card"
                id="cambridge-and-district-animal-rehoming"
                data-magellan-target="cambridge-and-district-animal-rehoming"
              >
                <div
                  class="card-section"
                  itemscope
                  itemtype="schema.org/LocalBusiness"
                >
                  <h3 itemprop="name">
                    Cambridge &amp; District Animal Rehoming
                  </h3>
                  <p>
                    Tel:
                    <a href="tel:+441638508316" itemprop="telephone"
                      >01638 508 316</a
                    >
                  </p>
                  <p>
                    Email (preferably):
                    <a
                      href="mailto:rehoming@rspcacambridge.org.uk"
                      itemprop="email"
                      >rehoming@rspcacambridge.org.uk</a
                    >
                  </p>
                </div>
              </div>
              <div
                class="card"
                id="rspca-cambridge-branch"
                data-magellan-target="rspca-cambridge-branch"
              >
                <div
                  class="card-section"
                  itemscope
                  itemtype="schema.org/LocalBusiness"
                >
                  <a href="{{assetPrefix}}ingex.html" title="Our home page"
                    ><h3 itemprop="name">
                      RSPCA Cambridge Branch
                    </h3></a
                  >
                  <p>
                    Tel (for urgent enquiries):
                    <a href="tel:+447742658086" itemprop="telephone"
                      >07742 658 086</a
                    >
                  </p>
                  <p>
                    Email (for non-urgent enquiries, as answerphone messages may
                    not be picked up):
                    <a href="mailto:info@rspcacambridge.org.uk" itemprop="email"
                      >info@rspcacambridge.org.uk</a
                    >
                  </p>
                  <div>
                    <p>
                      Please wait until the evening/weekend for non-urgent calls
                      and be aware that this number is answered by a volunteer
                      who is also trying to do other tasks.
                    </p>
                    <p>
                      Please note: This is just an ordinary mobile phone, so you
                      will not be charged for more than the normal cost of a
                      phone call to a mobile. However, we can normally only help
                      you with problems which occur within our own branch area.
                    </p>
                    <p>
                      If you need to find a vet near Cambridge and are not
                      eligible for assistance by us (see our
                      <a
                        href="{{assetPrefix}}clinic.html"
                        title="Our clinic page"
                        >Animal Clinic page</a
                      >
                      for details), you can find a local vet by entering your
                      postcode on the
                      <a
                        href="https://findavet.rcvs.org.uk"
                        title="Royal College of Veterinary Surgeons website"
                        >Royal College of Veterinary Surgeons website</a
                      >. Please note that this website is not affiliated to the
                      RSPCA and we cannot guarantee the accuracy of other
                      websites.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="cell medium-4 grid-padding-y content-nav-container">
              {{> sidebar}}
            </div>
          </div>
        </main>
      </div>
    </div>
    {{> footer }} {{> scripts }}
  </body>
</html>
