<!DOCTYPE html>
<html class="no-js" lang="en">
  {{> metadata }}
  <body>
    {{> header }} {{> navigation }}
    <!-- BODY OF PAGE STARTS HERE-->
    <div class="grid-container full-screen-height">
      {{> breadcrumbs }}
      <!-- MAIN CONTENT -->
      <main role="main">
        <div class="grid-x grid-margin-x grid-padding-y">
          <div class="cell">
            <h2>Donate</h2>
          </div>
        </div>
        <div class="grid-x grid-margin-x">
          <div class="cell medium-4 medium-order-2">
            <img
              src="{{assetPrefix}}img/five-kittens.jpg"
              alt="Photo of five kittens"
            />
          </div>
          <div class="cell medium-8 medium-order-1">
            <p class="lead">
              Every local RSPCA branch is a separate charity, so
              <!--              contrary to what many people think, -->
              the RSPCA Cambridge does not receive automatic funding.
              <!--                            and local-->
              <!--                            branch animal welfare services entirely depend on what we can-->
              <!--                            raise. -->
              We have a
              <a href="{{assetPrefix}}10point.html">10-point plan</a> to ensure
              that we keep full services running and to do this we need to raise
              &pound;100,000 per year.
            </p>
            <!--                        <p>-->
            <!--                          This is obviously a tall order, so that&rsquo;s why we need your-->
            <!--                          help! Each and every penny that we receive gets spent in the local-->
            <!--                          area, so you can be confident that your donation will be helping-->
            <!--                          animals nearby.-->
            <!--                        </p>-->
            <p class="lead">
              See below for some ways you can donate. There are also plenty of
              opportunities for
              <a href="{{assetPrefix}}volunteer.html">volunteering</a> in
              Cambridge and nearby if you would rather give your time.
            </p>
          </div>
        </div>
        <hr />
        <section class="grid-x">
          <div class="cell">
            <div class="grid-x grid-margin-x">
              <div class="cell">
                <h3>Donate items or cash</h3>
              </div>
            </div>
            <div class="grid-x grid-margin-x">
              <div class="cell medium-4 medium-order-2">
                <div class="card">
                  <div
                    class="donate-justgiving card-section align-center-middle text-center"
                  >
                    <p>
                      <strong
                        >Donate to us with
                        <a
                          class="image-link"
                          href="https://www.justgiving.com/rspcacambridge/donate/?utm_source=website&utm_medium=buttons&utm_content=rspcacambridge&utm_campaign=Donate_JG_Blue"
                        >
                          <img
                            src="{{assetPrefix}}img/JustGiving-logo.svg"
                            alt="Donate to RSPCA Cambridge and Branch with JustGiving"
                          />
                        </a>
                      </strong>
                    </p>
                  </div>
                  <div class="card-divider">
                    <ul class="no-bullet">
                      <li>
                        <strong>&pound;10</strong> could pay for antibiotic
                        treatment for a sick kitten.
                      </li>
                      <li>
                        <strong>&pound;50</strong> could support a clinic
                        session for 20 pets.
                      </li>
                      <li>
                        <strong>&pound;100</strong> could sponsor a kennel space
                        for a dog or cat.
                      </li>
                    </ul>
                  </div>
                  <div class="card-divider align-center">
                    <a
                      class="donate-justgiving button"
                      href="https://widgets.justgiving.com/Button/Redirect?p=eyJUZXh0IjoiUlNQQ0EgQ2FtYnJpZGdlIGFuZCBEaXN0cmljdCBCcmFuY2giLCJJZCI6IjNkMjgxNTk5LWJhZDQtNDViNy1hNzE5LWEyYWMxNGE4OWQwOSIsIkNoYXJpdHlJZCI6MTg0NzIwLCJTaXplIjoicyIsIlJlZmVyZW5jZSI6InJzcGNhY2FtYnJpZGdlb3JndWsiLCJUeXBlIjoiQ2hhcml0eURvbmF0ZSJ9"
                      >Donate</a
                    >
                  </div>
                </div>
              </div>
              <div class="cell medium-8 medium-order-1">
                <p>
                  We rely very heavily on donations both of money and items that
                  we can sell in any of the 3
                  <a href="{{assetPrefix}}shops.html">RSPCA charity shops</a> in
                  the Cambridge area.
                </p>
                <p>
                  If you are a UK taxpayer, please
                  <strong>Gift Aid</strong> your monetary donation. This means
                  that for every &pound;1 you donate, the RSPCA Cambridge
                  receives an extra 25p. For more information on Gift Aid see
                  the
                  <a href="https://www.gov.uk/donating-to-charity/gift-aid"
                    >HMRC website</a
                  >.
                </p>
                <h4>Online</h4>
                <p>
                  You can donate to us online using our secure
                  <a href="https://www.justgiving.com/rspcacambridge/donate"
                    >JustGiving</a
                  >
                  form. Please remember to tick the Gift Aid box if you are a UK
                  taxpayer.
                </p>
                <p>
                  JustGiving has also a convenient way to set up a fundraising
                  page if you are considering doing a
                  <a href="https://www.rspca.org.uk/getinvolved/fundraise"
                    >sponsored event</a
                  >
                  to raise money for us.
                </p>
                <h4>Postal or walk-in</h4>
                <p>
                  Print out our
                  <a href="{{assetPrefix}}giftaid.pdf"
                    >Gift Aid declaration form</a
                  >
                  and send it together with your cheque, or hand it in to any of
                  our
                  <a href="{{assetPrefix}}shops.html">shops</a>.
                </p>
                <p>
                  Donations of saleable items can be dropped off during opening
                  hours at any of the charity shops. You can also Gift Aid these
                  donations so that we can reclaim the tax.
                </p>
              </div>
            </div>
          </div>
        </section>
        <hr />
        <section class="grid-x">
          <div class="cell">
            <div class="grid-x grid-margin-x">
              <div class="cell">
                <h3>Other ways to donate</h3>
              </div>
            </div>
            <div class="grid-x grid-margin-x">
              <div class="cell medium-4 medium-order-2">
                <a
                  href="https://www.giveasyoulive.com/join/rspcacambridgeanddistrictbranch"
                  class="image-link"
                >
                  <img
                    src="{{assetPrefix}}img/give-as-you-live.png"
                    alt="Raise free funds for us when you shop over 4,000+ online stores"
                  />
                </a>
              </div>
              <div class="cell medium-8 medium-order-1">
                <p>
                  At no additional cost to you, you can give money to the RSPCA
                  Cambridge &amp; District simply through everyday online
                  spending.
                </p>
                <p>
                  Just download
                  <a
                    href="https://www.giveasyoulive.com/join/rspcacambridgeanddistrictbranch"
                    >Give as you Live</a
                  >
                  and shop normally online. Every time you make a purchase at
                  thousands of stores including Tesco, Boots, John Lewis,
                  Sainsbury&rsquo;s, Amazon, play.com and many more, those
                  companies will donate some money to us.
                </p>
                <p>
                  It&rsquo;s easy, free and every penny really does count.
                </p>
              </div>
            </div>
          </div>
        </section>
        <hr />
        <section class="grid-x">
          <div class="cell">
            <div class="grid-x grid-margin-x">
              <div class="cell">
                <h3>Sponsor a dog or cat in kennels</h3>
              </div>
            </div>
            <div class="grid-x grid-margin-x">
              <div class="cell medium-4 medium-order-2">
                <img
                  src="{{assetPrefix}}img/tabby-cat.png"
                  alt="Photo of a tabby cat"
                />
              </div>
              <section class="cell medium-8 medium-order-1">
                <p>
                  One of our biggest expenses is the cost of boarding animals
                  until they can be rehomed. At present we sadly have to turn
                  away many people who can no longer manage to keep their pets
                  because we simply do not have the funds to take them in. It is
                  very likely that many of the owners we cannot help but decide
                  to have their animals put to sleep.
                </p>
                <p>
                  This is something we really want to avoid and you can help by
                  sponsoring a kennel space. A
                  <a
                    href="https://www.justgiving.com/rspcacambridge/donate/?utm_source=website&utm_medium=buttons&utm_content=rspcacambridge&utm_campaign=Donate_JG_Blue"
                    >donation</a
                  >
                  of just &pound;6 will cover the costs of one unit for one day.
                </p>
                <p>
                  Sponsoring kennel spaces means that we can admit more animals
                  and provide more veterinary care.
                </p>
              </section>
            </div>
          </div>
        </section>
        <hr />
        <section class="grid-x">
          <div class="cell">
            <div class="grid-x grid-margin-x">
              <div class="cell">
                <h3>Legacies</h3>
              </div>
            </div>
            <div class="grid-x grid-margin-x">
              <div class="cell medium-8">
                <p>
                  Leaving us a legacy in your will is another way that you can
                  help. To ensure that this legacy is spent locally you need to
                  specify that it should go to the Cambridge &amp; District
                  RSPCA Branch, registered
                  <a
                    href="https://apps.charitycommission.gov.uk/Showcharity/RegisterOfCharities/CharityWithoutPartB.aspx?RegisteredCharityNumber=205098&SubsidiaryNumber=0"
                    >charity number 205098</a
                  >. This charity number is unique, so is the best way of
                  identifying us as a beneficiary.
                </p>
                <p>
                  Legacies to RSPCA branches are normally handled via the
                  <a href="https://www.rspca.org.uk/getinvolved/donate/legacy"
                    >Legacy department</a
                  >
                  of the national RSPCA, who have the expertise to deal with
                  issues involved in handling the administration of an estate.
                  If you direct your executors to forward your legacy to them at
                  RSPCA, Legacy Team, Wilberforce Way, Southwater, Horsham, West
                  Sussex RH13 9RS, they will arrange for the funds to be
                  transferred to the Cambridge &amp; District branch.
                </p>
                <p>
                  If you wish the RSPCA to act as your executor and administer
                  your estate, this can also be arranged. Please look through
                  the national website details about
                  <a
                    href="https://www.rspca.org.uk/getinvolved/donate/legacy/stepbystep"
                    >naming the RSPCA as your executor</a
                  >.
                </p>
              </div>
            </div>
          </div>
        </section>
        <hr />
      </main>
    </div>
    {{> footer }} {{> scripts }}
  </body>
</html>
