<!DOCTYPE html>
<html class="no-js" lang="en">
  {{> metadata }}
  <body>
    {{> header }} {{> navigation }}
    <!-- BODY OF PAGE STARTS HERE-->
    <div>
      {{> breadcrumbs }}
      <!-- MAIN CONTENT -->
      Main content
    </div>
    {{> footer }} {{> scripts }}
  </body>
</html>
