<!DOCTYPE html>
<html class="no-js" lang="en">
  {{> metadata }}
  <body>
    {{> header }} {{> navigation }}
    <!-- BODY OF PAGE STARTS HERE-->
    <div class="grid-container full-screen-height">
      {{> breadcrumbs }}
      <!-- MAIN CONTENT -->
      <main role="main">
        <div class="grid-x grid-margin-x grid-padding-y">
          <div class="cell">
            <h2>{{current_breadcrumb}}</h2>
          </div>
        </div>
        <div class="grid-x grid-margin-x">
          <div class="cell medium-8">
            <div class="callout warning">
              <p>
                We are able to resume some animal fostering and adoption with
                strict social distancing arrangements.
              </p>
            </div>
          </div>
        </div>
        <div class="grid-x grid-margin-x">
          <div class="cell medium-4 medium-order-2">
            <img
              src="{{assetPrefix}}img/dog-in-grass.jpg"
              alt="A photo of a small dog running through green grass"
            />
          </div>
          <div class="cell medium-8 medium-order-1">
            <p class="lead">
              Fosterers provide a much-needed temporary home for animals while
              they receive rehabilitation or are waiting to find a suitable
              permanent home.
            </p>
            <p>
              Without our own rehoming kennels and cattery we have to place the
              animals in our care either in a boarding kennel/cattery or in
              foster homes. Where it is possible to place an animal in foster we
              prefer to do so. Not only does this save on kennelling fees but
              more importantly, it means the animal can be in a home environment
              which is usually much better for them and has other benefits.
            </p>
            <ul>
              <li>
                The animal is able to stay in a home environment which is often
                less stressful for them than kennels.
              </li>
              <li>Training and rehabilitation needs can be considered.</li>
              <li>
                The fosterer gets to know the animal, its likes and dislikes,
                training needs and personality. This means a better match can be
                made with potential adopters and adopters can be provided with
                advice tailored for that animal.
              </li>
            </ul>
            <p>
              <strong
                >Food, litter and litter trays (for cats), medications and other
                necessary expenses are covered by the RSPCA.</strong
              >
              Veterinary treatment is available through the
              <a href="{{assetPrefix}}clinic.html">RSPCA clinic in Cambridge</a
              >, so we do ask that fosterers are able to transport animals to
              the clinic for routine treatments and check-ups as this is a lot
              cheaper for us than using private veterinary clinics.
            </p>
            <p>
              <a href="https://www.rspca.org.uk/findapet/foster"
                >Fostering information from the national RSPCA website</a
              >
            </p>
            <p>
              Email our fostering coordinator for more information:
              <a href="mailto:rehoming@rspcacambridge.org.uk"
                >rehoming@rspcacambridge.org.uk</a
              >.
            </p>
            <p>
              <a
                href="https://goo.gl/forms/fiuxLRnkR97Oxti43"
                class="register-link"
                target="_blank"
                >Register as a foster care volunteer with RSPCA Cambridge</a
              >
            </p>
          </div>
        </div>
      </main>
    </div>
    {{> footer }} {{> scripts }}
  </body>
</html>
