<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta
      name="google-site-verification"
      content="oMY5c8P6eq3zlDbqwSeFYNxgiPDJXQ9ze3ITtOnjjOA"
    />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="keywords"
      content="RSPCA Cambridge branch, clinic, rehoming, adoption, Littleport, Royston, Gamlingay, Newmarket"
    />
    <meta
      name="description"
      content="RSPCA Cambridge | Animal charity branch serving the Cambridge area"
    />
    <title>RSPCA Cambridge and District Branch</title>

    <link rel="icon" href="img/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon" />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/foundation-sites@6.6.3/dist/css/foundation.min.css"
      integrity="sha256-ogmFxjqiTMnZhxCqVmcqTvjfe1Y/ec4WaRj/aQPvn+I="
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="css/rspca.css" />
    <link rel="stylesheet" href="css/hero-section.css" />
  </head>
  <body>
    {{> header }} {{> navigation }}
    <!-- BODY OF PAGE STARTS HERE-->
    <div class="homepage">
      <div class="grid-x full-screen-height">
        <div class="cell">
          <a href="clinic.html">
            <div class="clinic hero-section full-screen-height">
              <div class="hero-section-text">
                <h2 class="h1">Our clinic</h2>
                <p class="h4">
                  We provide cheap veterinary treatment for low-income pet
                  owners
                </p>
                <p>
                  <a class="button primary" href="{{assetPrefix}}clinic.html"
                    >Read more</a
                  >
                </p>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="grid-container">
        <div class="grid-x grid-padding-y grid-margin-x">
          <div class="cell medium-6">
            <div class="shops hero-section">
              <a href="shops.html">
                <div class="hero-section-text">
                  <h2>Our shops</h2>
                  <p class="lead">
                    We have charity shops in central Cambridge, Mill Road and
                    Newmarket
                  </p>
                  <p>
                    <a class="button primary" href="{{assetPrefix}}shops.html"
                      >See our shops</a
                    >
                  </p>
                </div>
              </a>
            </div>
          </div>
          <div class="cell medium-6">
            <div class="rehoming hero-section">
              <a href="adopt.html">
                <div class="hero-section-text">
                  <h2>Rehoming</h2>
                  <p class="lead">
                    We rehome rescue animals such as cats, dogs and other small
                    animals
                  </p>
                  <p>
                    <a class="button primary" href="{{assetPrefix}}adopt.html"
                      >Find out about rehoming</a
                    >
                  </p>
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="grid-x text-center grid-padding-y">
          <div class="cell">
            <hr id="divider" />
          </div>
        </div>
        <div class="grid-x text-center grid-padding-y">
          <div class="cell">
            <h2>We need help</h2>
            <h5 id="home-10-point-plan">
              Read our <a href="10point.html">10 point plan</a> to learn how you
              can make a difference
            </h5>
          </div>
        </div>
        <div
          class="grid-x cards grid-margin-x"
          data-equalizer
          data-equalize-on="medium"
        >
          <div class="cell medium-4">
            <a href="volunteer.html#shops" class="image-link">
              <div class="card help-card" data-equalizer-watch>
                <img src="img/millroad.jpg" alt="A photo of the interior of our Mill Road charity shop" />
                <div class="card-section lead">
                  <h4>Volunteer with us</h4>
                  <p>
                    Apply to become a volunteer in one of our shops
                  </p>
                </div>
              </div>
            </a>
          </div>
          <div class="cell medium-4">
            <a href="donate.html">
              <div class="card help-card" data-equalizer-watch>
                <img src="img/five-kittens.jpg" alt="A photo of five kittens" />
                <div class="card-section lead">
                  <h4>Donate</h4>
                  <p>
                    Donate money or items for our shops, or leave a legacy in
                    your will
                  </p>
                </div>
              </div>
            </a>
          </div>
          <div class="cell medium-4">
            <a href="volunteer.html">
              <div class="card help-card" data-equalizer-watch>
                <img src="img/dog-in-grass.jpg" alt="A photo of a small dog running through green grass" />
                <div class="card-section lead">
                  <h4>Help our animals</h4>
                  <p>
                    Our animals need fosterers, home visitors and fundraisers
                  </p>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    {{> footer }} {{> scripts }}
  </body>
</html>
