<!DOCTYPE html>
<html class="no-js" lang="en">
  {{> metadata }}
  <body>
    {{> header }} {{> navigation }}
    <!-- BODY OF PAGE STARTS HERE-->
    <div class="grid-container full-screen-height">
      {{#breadcrumbs?}} {{> breadcrumbs }} {{/breadcrumbs?}}
      <!-- MAIN CONTENT -->
      <main role="main">
        <div class="grid-x grid-margin-x grid-padding-y">
          <div class="cell">
            <h2>News</h2>
          </div>
        </div>
        <div class="grid-x grid-margin-x grid-padding-y">
          <div class="cell medium-4 medium-order-2 text-center">
            <!-- Facebook Events plugin -->
            <div
              class="fb-page"
              data-href="https://www.facebook.com/rspcacambridge"
              data-tabs="events"
              data-width=""
              data-height=""
              data-small-header="false"
              data-adapt-container-width="true"
              data-hide-cover="false"
              data-show-facepile="true"
            >
              <blockquote
                cite="https://www.facebook.com/rspcacambridge"
                class="fb-xfbml-parse-ignore"
              >
                <a href="https://www.facebook.com/rspcacambridge"
                  >R.S.P.C.A. Cambridge</a
                >
              </blockquote>
            </div>
          </div>
          <div class="cell medium-8 medium-order-1">
            <h3>AUGUST 2020: Changes due to COVID-19</h3>

            <h4><u>Shop opening hours</u></h4>
            <p>
              The shops are open but with changed times due to the need for
              additional COVID protection cleaning.
            </p>
            <ul>
              <li>
                <strong>Burleigh Street</strong> 10am&ndash;4pm Mon-Sat (closed
                Sun)
              </li>
              <li>
                <strong>Newmarket</strong> 10am&ndash;4pm Mon-Sat (closed Sun)
              </li>
              <li>
                <strong>Bookshop</strong> 10am&ndash;4pm Tue-Sun (closed Mon)
                <em
                  >(Note that access to the Bookshop by car is currently only
                  possible if you enter Mill Rd via Perne Rd or Coleridge
                  Rd.)</em
                >
              </li>
            </ul>

            <h4><u>Clinic appointments</u></h4>
            <p>
              The clinic is partially open but on appointment only to currently
              registered patients and with strict arrangements to prevent
              infection.
            </p>
            <strong class="warning-text">Registered patients ONLY:</strong>
            <ul>
              <li>
                <strong>To make a vaccination appointment</strong>, please call
                <a href="tel:+447522358403">07522&nbsp;358403</a> on a Monday
                between 9.30am and 11.30am.
              </li>
              <li>
                <strong>To make a routine consultation appointment</strong>,
                please call <a href="tel:+447522358440">07522&nbsp;358440</a> on
                a Wednesday between 9.30am and 12pm.
              </li>
              <li>
                <strong>To order repeat medications</strong>, please call
                <a href="tel:+447522358422">07522&nbsp;358422</a> on a Tuesday
                or Thursday between 9.30am and 12pm.
              </li>
              <li>
                <strong
                  >If your animal is registered with us and needs to be seen
                  urgently</strong
                >, please call
                <a href="tel:+447742 658086">07742&nbsp;658086</a> anytime.
              </li>
            </ul>

            <h4><u>Changes to rehoming</u></h4>
            <p>
              We are able to resume some animal fostering and adoption with
              strict social distancing arrangements.
            </p>
          </div>
        </div>
        <!-- TEMPLATES FOR ADDING NEWS ITEMS -->
        <!-- TEMPLATE FOR NEWS ITEM WITH PHOTO -->
        <!--    <div class="grid-x grid-margin-x grid-padding-y">-->
        <!--      <div class="cell">-->
        <!--        <h3>January 2019</h3>-->
        <!--        <div class="grid-x">-->
        <!--          <div class="cell medium-9">-->
        <!--            <p>-->
        <!--              This is some text.-->
        <!--            </p>-->
        <!--          </div>-->
        <!--          <div class="cell medium-3">-->
        <!--            <img alt="Photo of dog in Halloween costume" src="img/halloweendog.jpg">-->
        <!--          </div>-->
        <!--        </div>-->
        <!--      </div>-->
        <!--    </div>-->
        <!--    <hr />-->
        <!--    &lt;!&ndash; TEMPLATE FOR NEWS ITEM WITH TEXT &ndash;&gt;-->
        <!--    <div class="grid-x grid-margin-x grid-padding-y">-->
        <!--      <div class="cell">-->
        <!--        <h3>January 2019</h3>-->
        <!--        <p>-->
        <!--          This is some text-->
        <!--        </p>-->
        <!--      </div>-->
      </main>
    </div>
    {{> footer }} {{> scripts }}
  </body>
</html>
