<!DOCTYPE html>
<html class="no-js" lang="en">
{{> metadata }}
<body>
{{> header }} {{> navigation }}
<!-- BODY OF PAGE STARTS HERE-->
<div class="grid-container full-screen-height">
  {{#breadcrumbs?}} {{> breadcrumbs }} {{/breadcrumbs?}}
  <!-- MAIN CONTENT -->

</div>
{{> footer }} {{> scripts }}
</body>
</html>
