<!DOCTYPE html>
<html class="no-js" lang="en">
  {{> metadata }}
  <body>
    {{> header }} {{> navigation }}
    <!-- BODY OF PAGE STARTS HERE-->
    <div class="grid-container full-screen-height">
      {{> breadcrumbs }}
      <!-- MAIN CONTENT -->
      <main role="main">
        <div class="grid-x grid-margin-x grid-padding-y">
          <div class="cell">
            <h2>{{current_breadcrumb}}</h2>
          </div>
        </div>
        <div class="grid-x grid-margin-x">
          <div class="cell medium-4 medium-order-2">
            <img
              src="{{assetPrefix}}img/millroad.png"
              alt="A photo of the interior of our Mill Road charity shop"
            />
          </div>
          <div class="cell medium-8 medium-order-1">
            <p class="lead">
              Much of our fundraising is carried out through the activities of
              our three charity shops. Please support us by buying from our
              shops and donating items!
            </p>
            <p class="lead">
              If you are a UK tax payer, please take a few moments to complete a
              <strong>Gift Aid</strong> form so we can reclaim tax when your
              donated item is sold.
            </p>
            <p>
              If you are interested in volunteering in one of the shops, please
              refer to
              <a href="{{assetPrefix}}volunteering.html#shops"
                >our volunteering page</a
              >. We would particularly like to hear from anyone who would like
              to reactivate our online sales via eBay and Abe Books.
            </p>
          </div>
        </div>
        <hr />
        <section class="grid-y">
          <div class="cell">
            <h3 id="burleigh">Burleigh Street</h3>
          </div>
          <div class="grid-x grid-margin-x">
            <div class="cell medium-4 medium-order-2">
              <img
                src="{{assetPrefix}}img/burleigh-facade.png"
                alt="A photo of the entrance to the RSPCA Cambridge charity shop on Burleigh Street"
              />
            </div>
            <div class="cell medium-8 medium-order-1">
              <!-- display: inline -->
              <address class="directions"
                >61 Burleigh Street, Cambridge, CB1 1DJ</address
              >
              <p>
                <a href="tel:+441223312802">01223 312 802</a>
              </p>
              <p>
                <a
                  class="facebook-link"
                  href="https://www.facebook.com/RSPCABurleigh/"
                  >Facebook group</a
                >
              </p>
              <table>
                <caption class="show-for-sr">
                  Opening hours
                </caption>
                <thead class="show-for-sr">
                  <tr>
                    <th id="burleigh-weekdays">Weekdays</th>
                    <th id="burleigh-time">Time</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td headers="burleigh-weekdays">
                      Monday&ndash;Sunday
                    </td>
                    <td headers="burleigh-time">10am&ndash;5pm</td>
                  </tr>
                </tbody>
              </table>
              <p>
                We can make good use of any donations of clothing, shoes, bags,
                curtains, linens, bric-&agrave;-brac, toys, etc. We also have a
                large section featuring second-hand books, vinyl records and
                CDs, as well as a variety of videos (DVD and VHS). We need your
                donations to keep our shop floor well-stocked. Please remember
                us when you are having a clear-out.
              </p>
              <p>
                If you would like to drop off donations by car, please phone the
                shop <a href="tel:+441223312802">01223&nbsp;312&nbsp;802</a> for
                directions to the unloading area behind us on Paradise street
                and to make sure someone is available to open the back door.
              </p>
              <p>
                We also need more volunteers to keep up with the task of
                processing and steam cleaning a constant flow of donated stock.
                If you might be interested, please drop in and ask to have a
                word with the manager on duty.
              </p>
            </div>
          </div>
        </section>
        <hr />
        <section class="grid-y">
          <div class="cell">
            <h3 id="mill">Mill Road</h3>
          </div>
          <div class="grid-x grid-margin-x">
            <div class="cell medium-4 medium-order-2">
              <img
                src="{{assetPrefix}}img/millroad-facade.png"
                alt="A photo of the entrance to the RSPCA Cambridge charity shop on Mill Road"
              />
            </div>
            <div class="cell medium-8 medium-order-1">
              <!-- display: inline -->
              <address class="directions"
                >188 Mill Road, Cambridge, CB1 3LP</address
              >
              <p>
                <a href="tel:+441223212644">01223 212 644</a>
              </p>
              <p>
                <a
                  class="facebook-link"
                  href="https://www.facebook.com/RSPCABookshop/"
                  >Facebook group</a
                >
              </p>
              <table>
                <caption class="show-for-sr">
                  Opening hours
                </caption>
                <thead class="show-for-sr">
                  <tr>
                    <th id="mill-weekdays">Weekdays</th>
                    <th id="mill-time">Time</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td headers="mill-weekdays">
                      Monday&ndash;Saturday
                    </td>
                    <td headers="mill-time">10am&ndash;5pm</td>
                  </tr>
                  <tr>
                    <td headers="mill-weekdays">Sunday</td>
                    <td headers="mill-time">11am&ndash;5pm</td>
                  </tr>
                </tbody>
              </table>
              <p>
                The RSPCA Cambridge secondhand and antiquarian bookshop is
                packed with lots of excellent books at reasonable prices. We
                need more volunteers with an interest in books and/or music (or
                just willing to carry books up and down the stairs!) to help
                out.
              </p>
              <p>
                If you could help please email us at
                <a href="mailto:info@rspca-cambridge.org.uk"
                  >info@rspca-cambridge.org.uk</a
                >
                or phone the <a href="#burleigh">Burleigh Street shop</a> on
                <a href="tel:+441223312802">01223&nbsp;312&nbsp;802</a>. We are
                still collecting donations of clothing, linens, china, etc. at
                the bookshop to sell at 61 Burleigh St.
              </p>
              <p>
                Only the best items will go out on sale at the shop, but even
                worn or damaged textiles can be sold for recycling and raise
                valuable funds to support our work.
              </p>
            </div>
          </div>
        </section>
        <hr />
        <section class="grid-y">
          <div class="cell">
            <h3 id="newmarket">Newmarket</h3>
          </div>
          <div class="grid-x grid-margin-x">
            <div class="cell medium-4 medium-order-2">
              <img
                src="{{assetPrefix}}img/newmarket-facade.png"
                alt="A photo of the entrance to the RSPCA Cambridge charity shop in Newmarket"
              />
            </div>
            <div class="cell medium-8 medium-order-1">
              <!-- display: inline -->
              <address class="directions"
                >10a Market Street, Newmarket, Suffolk, CB8 8EE</address
              >
              <p><a href="tel:+441638662053">01638 662 053</a></p>
              <p>
                <a
                  class="facebook-link"
                  href="https://www.facebook.com/RSPCA-Newmarket-Shop-568604456935574/"
                  >Facebook group</a
                >
              </p>
              <table>
                <caption class="show-for-sr">
                  Opening hours
                </caption>
                <thead class="show-for-sr">
                  <tr>
                    <th id="newmarket-weekdays">Weekdays</th>
                    <th id="newmarket-time">Time</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td headers="newmarket-weekdays">
                      Monday&ndash;Saturday
                    </td>
                    <td headers="newmarket-time">9:30am&ndash;4:30pm</td>
                  </tr>
                  <tr>
                    <td headers="newmarket-weekdays">Sunday</td>
                    <td headers="newmarket-time">10am&ndash;4pm</td>
                  </tr>
                </tbody>
              </table>
              <p>
                You can find Market Street at the entrance to the Guineas
                shopping arcade just off the High Street. Market Street is
                pedestrianised, but if you would like to drop off donations by
                car you can drive up to the back entrance of the shop via the
                access road which leads off Exeter Road.
              </p>
              <p>
                It may be advisable to phone the shop in advance to make sure
                they are aware that they need to let you in.
              </p>
              <p>
                We need more volunteers to work in the shop and to help with
                collecting donated goods to sell. If you might be interested in
                volunteering, please drop in for a chat.
              </p>
            </div>
          </div>
        </section>
        <hr />
      </main>
    </div>
    {{> footer }} {{> scripts }}
  </body>
</html>
