<!DOCTYPE html>
<html class="no-js" lang="en">
  {{> metadata }}
  <body>
    {{> header }} {{> navigation }}
    <!-- BODY OF PAGE STARTS HERE-->
    <div class="grid-container full-screen-height">
      {{> breadcrumbs }}
      <!-- MAIN CONTENT -->
      <main role="main">
        <div class="grid-x grid-margin-x grid-padding-y">
          <div class="cell">
            <h2>{{current_breadcrumb}}</h2>
          </div>
        </div>
        <div class="grid-x grid-margin-x">
          <div class="cell medium-4 medium-order-2">
            <img
              src="{{assetPrefix}}img/halloween.png"
              alt="A photo of people gathered on the street during the Cambridge Halloween Dog Parade, an event raising money for RSPCA Cambridge"
            />
          </div>
          <div class="cell medium-8 medium-order-1">
            <p class="lead">
              We have a
              <a href="{{assetPrefix}}10point.html">10-point plan</a> to ensure
              that we keep RSPCA services going in the Cambridge area. However,
              to achieve this we always need more volunteers, so we will be very
              grateful for any help that you can offer us.
            </p>
            <p class="lead">
              Volunteering for the RSPCA gives an enormous sense of satisfaction
              that you are doing something really worthwhile to help animals in
              the local area.
            </p>
            <p>
              See below for ways that you could get involved. For more
              information about volunteering you can:
            </p>
            <ul>
              <li>
                email
                <a href="mailto:volunteering@rspcacambridge.org.uk"
                  >volunteering@rspcacambridge.org.uk</a
                >,
              </li>
              <li>
                or have a chat with one of the branch committee members by
                <a href="{{assetPrefix}}contact.html">calling in</a> at the 61
                Burleigh Street charity shop on a Sunday after 12 noon.
              </li>
            </ul>
          </div>
        </div>
        <hr />
        <div class="grid-x grid-margin-x">
          <div class="cell medium-8">
            <h3>Register as a volunteer</h3>
          </div>
        </div>
        <div
          class="grid-x grid-margin-x cards"
          data-equalizer
          data-equalize-on="medium"
        >
          <div class="cell medium-6 large-3">
            <a href="#fostering" class="image-link" data-smooth-scroll>
              <div class="card" data-equalizer-watch>
                <img
                  src="{{assetPrefix}}img/dog-in-grass.jpg"
                  alt="A photo of a small dog running through green grass"
                />
                <div class="card-section">
                  <h4 class="h5">
                    Register as a foster care volunteer
                  </h4>
                  <p>
                    This would normally involve providing short-term care for
                    cats, dogs or smaller animals in your own home.
                  </p>
                </div>
              </div>
            </a>
          </div>
          <div class="cell medium-6 large-3">
            <a href="#shops" class="image-link" data-smooth-scroll>
              <div class="card" data-equalizer-watch>
                <img
                  src="{{assetPrefix}}img/checkout-at-shop.png"
                  alt="A photo of a man standing behind counter in a charity shop, with letters RSPCA written on the wall"
                />
                <div class="card-section">
                  <h4 class="h5">
                    Register to volunteer at Cambridge charity shop
                  </h4>
                  <p>
                    Help at our charity shop at 61 Burleigh St., Cambridge.
                  </p>
                </div>
              </div>
            </a>
          </div>
          <div class="cell medium-6 large-3">
            <a href="#shops" class="image-link" data-smooth-scroll>
              <div class="card" data-equalizer-watch>
                <img
                  src="{{assetPrefix}}img/newmarket.png"
                  alt="A photo four people standing and talking in the RSPCA Newmarket charity shop"
                />
                <div class="card-section">
                  <h4 class="h5">
                    Register to volunteer at Newmarket charity shop
                  </h4>
                  <p>
                    Help at our Newmarket Charity Shop.
                  </p>
                </div>
              </div>
            </a>
          </div>
          <div class="cell medium-6 large-3">
            <a href="#fundraising" class="image-link" data-smooth-scroll>
              <div class="card" data-equalizer-watch>
                <img
                  src="{{assetPrefix}}img/halloween-dog.png"
                  alt="A photo of a white dog wearing an orange hat during the Cambridge Halloween Dog Parade"
                />
                <div class="card-section">
                  <h4 class="h5">Register to volunteer at events</h4>
                  <p>
                    These are typically stalls at dog shows and other
                    fundraising activities.
                  </p>
                </div>
              </div>
            </a>
          </div>
        </div>
        <hr />
        <div class="grid-x grid-margin-x">
          <div class="cell medium-8">
            <h3>Volunteer with us</h3>
          </div>
        </div>
        <div class="grid-x grid-margin-x grid-padding-y">
          <div class="cell medium-4 medium-order-2">
            {{>sidebar}}
          </div>
          <div class="cell medium-8 medium-order-1" id="content">
            <section class="grid-x" id="shops" data-magellan-target="shops">
              <div class="cell">
                <h4>RSPCA charity shop volunteers</h4>
                <p>
                  One of our other most urgent needs is for helpers at our
                  <a href="{{assetPrefix}}shops.html">three charity shops</a> in
                  Cambridge and Newmarket. If you are interested in charity shop
                  volunteering, please either:
                </p>
                <ul>
                  <li>
                    phone
                    <a href="tel:+441223312802">01223&nbsp;312&nbsp;802</a> for
                    Cambridge,
                  </li>
                  <li>
                    phone
                    <a href="tel:+441638662053">01638&nbsp;662&nbsp;053</a> for
                    Newmarket,
                  </li>
                  <li>
                    or download and complete a copy of our charity shop
                    <a href="{{assetPrefix}}ShopVolunteerForm.pdf"
                      >volunteer form</a
                    >, then bring it to either 61 Burleigh Street, Cambridge;
                    188 Mill Road, Cambridge; or 10A Market Street, Newmarket
                    and ask to have a chat with the manager on duty,
                  </li>
                  <li>
                    or express your interest via our online forms:
                    <ul class="no-bullet">
                      <li>
                        <a
                          href="https://goo.gl/forms/BKltq5eao1PksJTA3"
                          class="register-link"
                          >Register to volunteer at the Cambridge charity
                          shop</a
                        >
                      </li>
                      <li>
                        <a
                          href="https://goo.gl/forms/OWwSGmormJys9pIf1"
                          class="register-link"
                          >Register to volunteer at the Newmarket charity
                          shop</a
                        >
                      </li>
                    </ul>
                  </li>
                </ul>
                <h5>Charity shop work experience placements</h5>
                <p>
                  We can also offer work experience placements at our Cambridge
                  shops. Activities are varied and can include:
                </p>
                <ul>
                  <li>Using the till</li>
                  <li>Sorting and cleaning donated items</li>
                  <li>
                    Internet searches to establish the value of donated books
                  </li>
                  <li>Placing items on sale online</li>
                  <li>Answering telephone queries</li>
                </ul>
                <p>
                  If you are interested in a work experience placement please
                  contact us as above.
                </p>
              </div>
            </section>
            <hr />
            <section class="grid-x" id="trustee" data-magellan-target="trustee">
              <div class="cell">
                <h4>Become a branch trustee</h4>
                <p>
                  Every RSPCA branch needs a minimum of 7 trustees and a maximum
                  of 14. We are currently running very close to the lower end of
                  the scale, so would love to be in a position where we do not
                  need to worry about meeting the minimum requirements.
                </p>
                <p>
                  The basic duty of RSPCA trustees is to attend monthly
                  committee meetings to make decisions about the management of
                  the branch. However many trustees do get involved in more
                  hands-on ways, for example with fundraising, rehoming animals
                  and running branch activities.
                </p>
                <p>
                  If you might be interested in becoming an
                  <a href="{{assetPrefix}}trustees.html"
                    >RSPCA Cambridge branch trustee</a
                  >
                  at the <abbr title="Annual General Meeting">AGM</abbr> in
                  June, please note that you need to have been a member of the
                  <a href="http://www.rspca.org.uk/getinvolved/becomeamember"
                    >RSPCA national society</a
                  >
                  for at least 3 months and live in the branch area.
                  Alternatively, it is possible for the existing trustees to
                  co-opt you at any time during the year if you are not yet a
                  member.
                </p>
                <p>
                  Contact us for a nomination form if you would like to stand
                  for election, or nominate another branch member.
                </p>
              </div>
            </section>
            <hr />
            <section
              class="grid-x"
              id="fundraising"
              data-magellan-target="fundraising"
            >
              <div class="cell">
                <h4>Volunteering for fundraising events</h4>
                <p>
                  Hosting events is an effective way of raising both money and
                  awareness of what the RSPCA Cambridge does. But to host them
                  we of course need enough people to help out.
                </p>
                <p>
                  This is an area where we are currently struggling, so any time
                  you could give to help with an event would be much
                  appreciated. See our
                  <a href="{{assetPrefix}}news.html">News</a> page for
                  information on upcoming events. Alternatively, if you have a
                  good idea about a fundraising event, please
                  <a href="mailto:info@rspcacambridge.org.uk">contact us</a>.
                </p>
                <p>
                  <a
                    href="https://goo.gl/forms/hiwiBRsKiY4vVQP23"
                    class="register-link"
                    >Register to volunteer at events</a
                  >
                </p>
              </div>
            </section>
            <hr />
            <section
              class="grid-x"
              id="fostering"
              data-magellan-target="fostering"
            >
              <div class="cell">
                <h4>Fostering animals</h4>
                <p>
                  As much as we would love to find the perfect home straight
                  away for each homeless animal that comes to us, it often takes
                  time. That&rsquo;s where our dedicated team of fosterers come
                  in. They temporarily look after animals that we are unable to
                  house in our kennels, until a new loving home is found for
                  them.
                </p>
                <p>
                  Could you take in an animal in need and give it love and care
                  until it goes to its forever home? We are particularly in need
                  of more
                  <a href="{{assetPrefix}}foster.html">dog and cat fosterers</a>
                  at this time.
                </p>
                <p>
                  <a
                    href="https://goo.gl/forms/fiuxLRnkR97Oxti43"
                    class="register-link"
                    >Register as a foster care volunteer</a
                  >
                </p>
              </div>
            </section>
            <hr />
            <section
              class="grid-x"
              id="pre-adoption"
              data-magellan-target="pre-adoption"
            >
              <div class="cell">
                <h4>Pre-adoption visits for potential rehoming</h4>
                <p>
                  Before <a href="{{assetPrefix}}adopt.html">rehoming</a> an
                  animal we visit each and every new home to make sure that it
                  will be a suitable environment for a pet. This is all done by
                  a team of volunteers and we are keen to recruit more home
                  visitors across the area. We are especially in need of
                  volunteers in the Ely area to help with this important area of
                  our work.
                </p>
                <p>Training is provided for new home visitors.</p>
              </div>
            </section>
            <hr />
            <section class="grid-x" id="drivers" data-magellan-target="drivers">
              <div class="cell">
                <h4>Volunteer drivers</h4>
                <p>
                  Volunteer drivers are responsible for bringing animals to the
                  <a href="{{assetPrefix}}clinic.html">Cambridge clinic</a> from
                  private vets, and from the clinic to our kennels or fosterers.
                  These animals are usually strays who have been found injured
                  and taken into the care of the RSPCA. We keep a list of
                  volunteers offering help with transport and phone round until
                  we find someone who&rsquo;s free to do a job when we have an
                  animal needing to be moved, so you don&rsquo;t necessarily
                  need to be available all day.
                </p>
                <p>
                  Transporting animals to the clinic can involve quite a lot of
                  waiting around as animals will generally be assessed by the
                  clinic and the volunteer driver will then take them up to the
                  veterinary hospital for inpatient treatment.
                </p>
                <p>
                  If you might be interested in volunteering as a driver for us,
                  please email
                  <a href="mailto:volunteering@rspcacambridge.org.uk"
                    >volunteering@rspcacambridge.org.uk</a
                  >
                </p>
              </div>
            </section>
            <hr />
            <section class="grid-x" id="clinic" data-magellan-target="clinic">
              <div class="cell">
                <h4>Helping out at the animal clinic</h4>
                <p>
                  All of the reception staff who handle the clerical work at our
                  animal clinic are volunteers. If you want to help us out at
                  the clinic,
                  <a href="{{assetPrefix}}clinic.html#helping"
                    >see more details on the clinic page</a
                  >.
                </p>
              </div>
            </section>
            <hr />
            <section class="grid-x" id="animals" data-magellan-target="animals">
              <div class="cell">
                <h4>Working with animals</h4>
                <p class="callout warning">
                  Please note: If you want to work with animals you need to be
                  aware that this is a highly competitive and often very poorly
                  paid field. Even vets, who are probably the highest potential
                  earners, can expect to start their working life with a
                  substantial student debt and to work very long, hard hours.
                  Jobs working with animal charities are scarce because nearly
                  all charities struggle to raise enough funds to employ many
                  helpers.
                </p>
                <p>
                  If you are thinking about selecting a college course, ask
                  questions about the kinds of jobs it will qualify you to do.
                  You need to be aware that basic animal care courses
                  won&rsquo;t necessarily lead to a qualification which will get
                  you into employment and you may be better off with something
                  more specific, such as veterinary nursing, farriery or pet
                  grooming which will be of direct use to a potential employer.
                </p>
              </div>
            </section>
            <hr />
            <section class="grid-x" id="other" data-magellan-target="other">
              <div class="cell">
                <h4>Other opportunities</h4>
                <p>
                  Apart from the above there is always a list of other
                  activities that you would be able to get involved with. Some
                  examples include the following, but that is by no means all:
                </p>
                <ul>
                  <li>a roving photographer to take pictures at events,</li>
                  <li>
                    addressing Gift Aid envelopes for
                    <a href="{{assetPrefix}}donate.html">donations</a>,
                  </li>
                  <li>helping out with our website and newsletter.</li>
                </ul>
                <p>
                  As a volunteer employer we adhere to a Health and Safety
                  policy and have a valid Risk Assessment, Employer&rsquo;s
                  Liability Insurance and Public Liability Insurance.
                </p>
              </div>
            </section>
          </div>
        </div>
        <hr />
      </main>
    </div>
    {{> footer }} {{> scripts }}
  </body>
</html>
